<template>
  <div class="page-header">
    <div class="page-leftheader">
      <h4 class="page-title">{{ $t("updatePeriodOfActivity") }}</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon">{{ $t("dashboard") }}</span></a
            >
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <a>{{ $t("view") }}</a>
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form @submit.prevent="submitCompanyHandler">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("periodOfActivity") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <prime-dropdown
                      v-model="form.periodOfActivity"
                      :options="periodsOfActivity"
                      optionLabel="name"
                      optionValue="name"
                      :filter="true"
                      :placeholder="$t('periodOfActivity')"
                      :class="{
                        'border-red':
                          findFieldinFeedback('periodOfActivity') &&
                          form.periodOfActivity === '',
                      }"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                    <p
                      v-if="
                        findFieldinFeedback('periodOfActivity') &&
                        form.periodOfActivity === ''
                      "
                      class="text-danger"
                    >
                      {{ $t("thisFieldIsRequired") }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("startActivity") }}<span>*</span></label
                  >
                  <div class="input-group">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('startActivity') &&
                          form.startActivity === '',
                      }"
                      v-model="form.startActivity"
                      type="date"
                      class="form-control"
                      :placeholder="$t('startActivity')"
                    />
                  </div>
                  <p
                    v-if="
                      findFieldinFeedback('startActivity') &&
                      form.startActivity === ''
                    "
                    class="text-danger"
                  >
                    {{ $t("thisFieldIsRequired") }}
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <button
                  type="submit"
                  class="btn btn-sm btn-primary"
                  :class="{
                    'btn-loading': is_sending,
                  }"
                  :disabled="is_sending"
                >
                  {{ $t("update") }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import showErrorMixin from "../../mixins/showError";
import setFeedbackMixin from "../../mixins/setFeedback";
import notifyMixin from "../../mixins/notify";
import checkToken from "../../mixins/checkToken";
import _ from "lodash";

export default {
  mixins: [showErrorMixin, setFeedbackMixin, notifyMixin, checkToken],
  data() {
    return {
      periodsOfActivity: [
        {
          name: "Daily",
        },
        {
          name: "Weekly",
        },
        {
          name: "Biweekly",
        },
        {
          name: "Monthly",
        },
        {
          name: "Bimonthly",
        },
        {
          name: "Trimestrial",
        },
        {
          name: "Semestrial",
        },
        {
          name: "Annual",
        },
      ],
      feedback: [],
      form: {
        periodOfActivity: "",
        startActivity: "",
      }
    };
  },
  created() {
    this.getCompany();
  },
  methods: {
    async getCompany() {
      try {
        const response = await this.$store.dispatch(
          "companies/getUserCompany",
          {
            id: this.id,
          }
        );
        this.loading = false;
        if (response.status === 200) {
          this.setUpForm(response.data);
        }
      } catch (err) {
        console.log("error");
        this.loading = false;
      }
    },

    setUpForm(company) {
      this.clearForm();
      this.form.periodOfActivity = company.periodOfActivity;
      this.form.startActivity = company.startActivity;
    },

    clearForm() {
      this.form.periodOfActivity = "";
      this.form.startActivity = "";
    },

    async submitCompanyHandler() {
      if (!this.validate()) {
        return;
      }

      try {
        const response = await this.$store.dispatch(
          "companies/updateActivityPeriod",
          this.form
        );
        if (response.status === 200) {
          this.$store.dispatch("setUser", {
            user: response.data,
          });
          this.$router.replace("/activity-period/show");
        }
      } catch (err) {
        if (!!err.response && err.response.status === 422) {
          const errors = err.response.data.errors;
          const first_error = errors[Object.keys(errors)[0]][0];
          this.showError(first_error);
        } else {
          this.showError(this.$t("somethingWentWrong"));
        }
      }
    },

    validate() {
      this.feedback = [];
      if (this.form.periodOfActivity === "") {
        this.setFeedback("error", "periodOfActivity");
      }
      if (this.form.startActivity === "") {
        this.setFeedback("error", "startActivity");
      }
      if (this.feedback.length !== 0) {
        return false;
      }
      return true;
    }
  },
};
</script>

<style scoped>
.border-red {
  border: 1px solid red;
}
</style>