<template>
  <div class="page-header">
    <div class="page-leftheader">
      <h4 class="page-title">Masters</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon"> Dashboard</span></a
            >
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link to="/masters/all">
            <a>Masters</a>
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <a>Create</a>
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <h3 class="card-title">{{ typeOfMaster }} Master</h3>
              <form
                class="form-horizontal"
                @submit.prevent="submitMasterHandler"
              >
                <div class="form-group row">
                  <label class="col-md-3 form-label">Name <span>*</span></label>
                  <div class="col-md-9">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('name') && form.name === '',
                      }"
                      v-model="form.name"
                      type="text"
                      class="form-control"
                      placeholder="Name"
                    />
                    <p
                      v-if="
                        findFieldinFeedback('name') &&
                        (form.name === null || form.name === '')
                      "
                      class="text-danger"
                    >
                      Name cannot be blank
                    </p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Master Type <span>*</span></label
                  >
                  <div class="col-md-9">
                    <select
                      :class="{
                        'border-red':
                          findFieldinFeedback('type') && form.type === '',
                      }"
                      class="form-control"
                      v-model="form.type"
                    >
                      <option value="" disabled>Select Type</option>
                      <option value="title">Title</option>
                      <option value="rating">Rating</option>
                      <option value="lead_source">Lead Source</option>
                      <option value="industry">Industry</option>
                      <option value="lead_status">Lead Status</option>
                      <option value="attribute">Attribute</option>
                    </select>
                    <p
                      v-if="findFieldinFeedback('type') && form.type === ''"
                      class="text-danger"
                    >
                      Type cannot be blank
                    </p>
                  </div>
                </div>
                <div class="form-group row mb-0">
                  <div class="col-12">
                    <button
                      type="submit"
                      class="pull-right btn btn-sm btn-primary"
                    >
                      {{ submitBtnText }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import clearFormMixin from "../../mixins/clearForm";
import showErrorMixin from "../../mixins/showError";
import notifyMixin from "../../mixins/notify";
import setFeedbackMixin from "../../mixins/setFeedback";
import checkToken from "../../mixins/checkToken";
export default {
  mixins: [
    clearFormMixin,
    showErrorMixin,
    notifyMixin,
    setFeedbackMixin,
    checkToken,
  ],

  props: ["type"],
  data() {
    return {
      validation_errors: {},
      feedback: [],
      form: {
        name: "",
        type: "",
      },
      id: null,
      mode: null,
    };
  },
  computed: {
    submitBtnText() {
      if (this.mode === "edit") {
        return "Update";
      }
      return "Submit";
    },
    typeOfMaster() {
      if (this.mode === "edit") {
        return "Update";
      }
      return "New";
    },
    users() {
      return this.$store.getters["users/users"];
    },
  },
  methods: {
    async submitMasterHandler() {
      this.feedback = [];

      if (!this.validate()) {
        return;
      }

      try {
        const response = await this.$store.dispatch("masters/submitMaster", {
          name: this.form.name,
          type: this.form.type,
        });
        if (response.status === 201) {
          this.notify("Master Saved");
          this.form.name = null;
          this.$router.replace(`/masters/${this.form.type}`);
        }
      } catch (err) {
        if (!!err.response && err.response.status === 422) {
          const errors = err.response.data.errors;
          const first_error = errors[Object.keys(errors)[0]][0];
          this.showError(first_error);
        } else {
          this.showError("Something went wrong while saving master, try again");
        }
      }
    },

    validate() {
      if (this.form.name === null || this.form.name === "") {
        this.setFeedback("error", "name");
      }
      if (this.form.type === "") {
        this.setFeedback("error", "type");
      }
      if (this.feedback.length !== 0) {
        return false;
      }
      return true;
    },

    async deleteUser(id) {
      const swal_response = await this.$swal.fire({
        title: `Do you want to delete this user?`,
        showCancelButton: true,
        confirmButtonText: `Delete`,
      });

      if (swal_response.isConfirmed) {
        try {
          const response = await this.$store.dispatch("users/deleteUser", id);
          if (response.status === 204) {
            this.notify("User Deleted");
            this.loadUsers();
          }
        } catch (err) {
          this.showError("Something went wrong while deleting user, try again");
        }
      }
    },

    userStatus(status) {
      if (status === 1) {
        return "active";
      }
      return "inactive";
    },

    async updateStatus(user) {
      const changeTo = user.active === 1 ? "inactivate" : "activate";
      const swal_response = await this.$swal.fire({
        title: `Do you want to ${changeTo} this user?`,
        showCancelButton: true,
        confirmButtonText: `Update`,
      });

      if (swal_response.isConfirmed) {
        try {
          const response = await this.$store.dispatch("users/updateUser", {
            id: user.id,
            active: user.active === 1 ? 0 : 1,
          });
          if (response.status === 200) {
            this.notify(`User ${changeTo}d`);
            this.loadUsers();
            this.mode = null;
            this.id = null;
            this.form.name = null;
            this.form.email = null;
          }
        } catch (err) {
          this.showError(this.$t("somethingWentWrong"));
        }
      }
    },
  },
};
</script>

<style scoped>
i,
.user-status {
  cursor: pointer;
}

table .action-col {
  width: 1%;
  white-space: nowrap;
}

.border-red {
  border: 1px solid red;
}
</style>