<template>
  <div class="page-header">
    <div class="page-leftheader">
      <h4 class="page-title">{{ capitalizeFirstLetter(master_type) }} </h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon">Dashboard</span></a
            >
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <a>{{ capitalizeFirstLetter(master_type) }}</a>
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 pr-2">
              <h3 class="card-title">
                {{ typeOf }} {{ capitalizeFirstLetter(master_type) }} 
                <button
                  v-if="mode === 'edit'"
                  @click="changeToNew"
                  class="pull-right btn btn-primary btn-sm"
                >
                  Clear
                </button>
              </h3>
              <form
                class="form-horizontal"
                @submit.prevent="submitMasterHandler"
              >
                <div class="form-group row">
                  <label class="col-md-3 form-label">Name <span>*</span></label>
                  <div class="col-md-9">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('name') && form.name === '',
                      }"
                      placeholder="Name"
                      v-model="form.name"
                      type="text"
                      class="form-control"
                    />
                    <p
                      v-if="findFieldinFeedback('name') && form.name === ''"
                      class="text-danger"
                    >
                      Name cannot be blank
                    </p>
                  </div>
                </div>
                <div class="form-group row mb-0">
                  <div class="col-12">
                    <button
                      type="submit"
                      class="pull-right btn btn-sm btn-primary"
                    >
                      {{ submitBtnText }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-sm-8 pl-5">
              <div class="table-responsive">
                <div
                  id="example1_wrapper"
                  class="dataTables_wrapper dt-bootstrap4 no-footer"
                >
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">
                        <label>
                          <select
                            v-model="tableData.length"
                            @change="getMasters()"
                            name="example1_length"
                            aria-controls="example1"
                            class="
                              custom-select custom-select-sm
                              form-control form-control-sm
                            "
                          >
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div id="example1_filter" class="dataTables_filter">
                        <label
                          ><input
                            type="search"
                            v-model="tableData.search"
                            @input="search()"
                            class="form-control form-control-sm"
                            placeholder="Search..."
                            aria-controls="example1"
                        /></label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <datatable
                        :columns="columns"
                        :sortKey="sortKey"
                        :sortOrders="sortOrders"
                        @sort="sortBy"
                      >
                        <tbody>
                          <tr
                            role="row"
                            class="odd"
                            v-for="master in masters_datatable"
                            :key="master.id"
                          >
                            <td>{{ master.name }}</td>
                            <td>{{ master.creator ? master.creator.first_name + ' ' + master.creator.last_name : '' }}</td>
                            <td>{{ master.updater ? master.updater.first_name + ' ' + master.creator.last_name: '' }}</td>
                            <td>
                              <span
                                @click="updateStatus(master)"
                                :class="{
                                  'badge-success': master.status === 1,
                                  'badge-danger': master.status === 0,
                                }"
                                class="badge"
                              >
                                {{ fixStatus(master.status) }}
                              </span>
                            </td>
                            <td class="action-col">
                              <span class="mr-2">
                                <i
                                  @click="setUpForm(master)"
                                  class="fa fa-pencil"
                                  data-toggle="tooltip"
                                  title="fa fa-pencil"
                                ></i>
                              </span>
                              <span>
                                <i
                                  @click="deleteMaster(master.id)"
                                  class="text-danger fa fa-trash pointer"
                                  data-toggle="tooltip"
                                  title="fa fa-trash"
                                ></i>
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </datatable>
                    </div>
                  </div>
                  <div class="row">
                    <pagination
                      :pagination="pagination"
                      @prev="getMasters(pagination.prevPageUrl)"
                      @next="getMasters(pagination.nextPageUrl)"
                    >
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import showErrorMixin from "../../mixins/showError";
import notifyMixin from "../../mixins/notify";
import setFeedbackMixin from "../../mixins/setFeedback";
import checkToken from "../../mixins/checkToken";
export default {
  mixins: [showErrorMixin, notifyMixin, setFeedbackMixin, checkToken],
  props: ["master_type"],
  data() {
    let sortOrders = {};
    let columns = [
      {
        label: "Name",
        name: "name",
        sortable: true,
      },
      // {
      //   label: "Type",
      //   name: "type",
      //   sortable: true,
      // },
      {
        label: "Created By",
        name: "created_by",
        sortable: false,
      },
      {
        label: "Updated By",
        name: "updated_by",
        sortable: false,
      },
      {
        label: "Status",
        name: "status",
        sortable: false,
      },
      {
        label: "",
        name: "actions",
        sortable: false,
      },
    ];

    columns.forEach((column) => {
      sortOrders[column.name] = -1; // Descending sort order for default
    });
    sortOrders.name = 1;

    return {
      sortOrders: sortOrders,
      columns: columns,
      sortKey: "name",
      tableData: {
        draw: 0,
        length: 10,
        search: "",
        column: 0,
        dir: "asc",
        type: "",
      },

      pagination: {
        lastPage: "",
        currentPage: "",
        total: "",
        lastPageUrl: "",
        nextPageUrl: "",
        prevPageUrl: "",
        from: "",
        to: "",
      },

      masters_datatable: [],

      validation_errors: {},
      feedback: [],
      form: {
        name: "",
        type: "",
      },
      mode: "",
      id: "",
    };
  },
  created() {
    this.tableData.type = this.master_type;
    this.getMasters();
  },
  computed: {
    submitBtnText() {
      if (this.mode === "edit") {
        return "Update";
      }
      return "Submit";
    },
    typeOf() {
      if (this.mode === "edit") {
        return "Update";
      }
      return "New";
    },
    types() {
      return this.$store.getters["masters/types"];
    },
    token() {
      return this.$store.getters.token;
    },
  },
  methods: {
    search: _.debounce(function () {
      this.getMasters();
    }, 500),
    sortBy(key) {
      this.sortKey = key;
      this.sortOrders[key] = this.sortOrders[key] * -1; // For component to change class
      this.tableData.column = this.getIndex(this.columns, "name", key);
      this.tableData.dir = this.sortOrders[key] === 1 ? "asc" : "desc";
      this.getMasters();
    },
    getIndex(array, key, value) {
      return array.findIndex((i) => i[key] === value);
    },
    configPagination(data) {
      this.pagination.lastPage = data.last_page;
      this.pagination.currentPage = data.current_page;
      this.pagination.total = data.total;
      this.pagination.lastPageUrl = data.last_page_url;
      this.pagination.nextPageUrl = data.next_page_url;
      this.pagination.prevPageUrl = data.prev_page_url;
      this.pagination.from = data.from;
      this.pagination.to = data.to;
    },
    getMasters(url = "/api/v1/paginated-masters") {
      axios.defaults.headers.common["Authorization"] = "Bearer " + this.token;

      let submit_method = "POST";
      let submit_data = this.tableData;

      axios({ method: submit_method, url: url, data: submit_data }).then(
        (response) => {
          let data = response.data;
          if (this.tableData.draw === data.draw) {
            this.masters_datatable = data.masters.data;
            this.configPagination(data.masters);
          }
        }
      );
    },
    setUpForm(master) {
      this.form.name = master.name;
      this.id = master.id;
      this.mode = "edit";
    },

    async submitMasterHandler() {
      this.feedback = [];
      this.form.type = this.master_type;

      if (!this.validate()) {
        return;
      }

      try {
        if (this.mode === "edit") {
          const response = await this.$store.dispatch("masters/updateMaster", {
            id: this.id,
            name: this.form.name,
            type: this.form.type,
          });
          if (response.status === 200) {
            this.notify("Master Updated");
            this.form.name = "";
            this.getMasters();
            this.mode = "";
            this.id = "";
          }
        } else {
          const response = await this.$store.dispatch("masters/submitMaster", {
            name: this.form.name,
            type: this.form.type,
          });
          if (response.status === 201) {
            this.notify("Master Saved");
            this.form.name = "";
            this.getMasters();
            this.mode = "";
            this.id = "";
          }
        }
      } catch (err) {
        if (!!err.response && err.response.status === 422) {
          const errors = err.response.data.errors;
          const first_error = errors[Object.keys(errors)[0]][0];
          this.showError(first_error);
        } else {
          this.showError("Something went wrong while saving master, try again");
        }
      }
    },

    validate() {
      if (this.form.name === null || this.form.name === "") {
        this.setFeedback("error", "name");
      }
      if (this.form.type === "") {
        this.setFeedback("error", "type");
      }
      if (this.feedback.length !== 0) {
        return false;
      }
      return true;
    },

    async deleteMaster(id) {
      const swal_response = await this.$swal.fire({
        title: `Are you sure?`,
        icon: "warning",
        text: "You won't be able to revert this!",
        showCancelButton: true,
        confirmButtonText: `Delete`,
      });

      if (swal_response.isConfirmed) {
        try {
          const response = await this.$store.dispatch(
            "masters/deleteMaster",
            id
          );
          if (response.status === 204) {
            this.notify("Master Deleted");
            this.getMasters();
          }
        } catch (err) {
          this.showError(
            "Something went wrong while deleting master, try again"
          );
        }
      }
    },

    capitalizeFirstLetter(string) {
      let spaced_string = string.replace("_", " ");
      return spaced_string.charAt(0).toUpperCase() + spaced_string.slice(1);
    },

    fixStatus(status) {
      if (status === 1) {
        return "Active";
      }
      return "Inactive";
    },

    async updateStatus(master) {
      const status = master.status === 1 ? 0 : 1;
      const changeTo = master.status === 1 ? "inactivate" : "activate";
      const swal_response = await this.$swal.fire({
        title: `Are you sure?`,
        text: `Do you want to ${changeTo} this master?`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: `Update`,
      });

      if (swal_response.isConfirmed) {
        try {
          const response = await this.$store.dispatch("masters/updateMaster", {
            id: master.id,
            status: status,
          });
          if (response.status === 200) {
            this.notify(`Master ${changeTo}d`);
            this.form.name = "";
            this.getMasters();
          }
        } catch (err) {
          this.showError(
            "Something went wrong while updating masters, try again"
          );
        }
      }
    },

    changeToNew() {
      this.mode = null;
      this.form.name = "";
    },
  },
};
</script>

<style scoped>
i,
.badge {
  cursor: pointer;
}

table .action-col {
  width: 1%;
  white-space: nowrap;
}

.border-red {
  border: 1px solid red;
}
</style>