.ck-editor__editable_inline {
    min-height: 200px;
}

.lead-header {
    padding: 2rem 2rem;
}

.form-label span {
    color: red;
}

p.text-danger {
    font-size: 11px;
}

.p-dropdown {
    width: 100%;
}

.p-colorpicker,
.p-colorpicker-preview {
    width: 100% !important;
    height: calc(1.5em + 0.75rem + 2px) !important;
}

.header .form-inline .form-control {
    width: 650px;
}

.cart-counter {
    display: block;
    position: absolute;
    top: -0.5rem;
    right: 0.3rem;
    background: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.product-image {
    height: 175.25px;
    width: 175.25px;
    object-fit: cover;
}

.cart-btn {
    color: green;
    right: 0px;
    top: 0px;
    opacity: 0;
}

.cart-container:hover .cart-btn {
    opacity: 1;
}

.demo_changer .form_holder {
    width: 350px;
}

.demo_changer {
    right: -350px;
}

.border-red {
    border: 1px solid red;
}

.order-list-item.selected {
    border-left: 2px solid #4454c3;
}

.tab-content > .tab-pane.tab-invoice {
    display: block;
}

.loader-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-card {
    height: 100vh;
}

.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 1px solid #ffffff;
    cursor: none;
    width: 100px;
    height: 100px;
}

.picture {
    position: relative;
}

.rect {
    position: absolute;
    margin: 0px !important;
    padding: 0;
    width: 75px;
    height: 75px;
    background-color: #78787c4d;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
}

.zoom {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    box-shadow: 5px 5px 5px rgb(24, 24, 24);
    z-index: 1000;
    opacity: 0;
}

.rect-active {
    opacity: 1;
}
