<template>
  <alert
    v-show="feedback.field == 'none' && feedback.message != null"
    :feedback="feedback"
  ></alert>
  <validation-errors
    v-if="Object.keys(validation_errors).length > 0"
    :errors="validation_errors"
  ></validation-errors>

  <div class="page-header">
    <div class="page-leftheader">
      <h4 class="page-title">Companies</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon">Dashboard</span></a
            >
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <a>Companies</a>
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 pr-2">
              <h3 class="card-title">
                {{ typeOf }} Company

                <button
                  v-if="mode === 'edit'"
                  @click="changeToNew"
                  class="pull-right btn btn-primary btn-sm"
                >
                  Clear
                </button>
              </h3>
              <form
                class="form-horizontal"
                @submit.prevent="submitCompanyHandler"
              >
                <div class="form-group row">
                  <label class="col-md-4 form-label">Name<span>*</span></label>
                  <div class="col-md-8">
                    <input
                      v-model="form.name"
                      type="text"
                      class="form-control"
                      placeholder="Company Name"
                    />
                    <p
                      v-if="feedback.field === 'name' && form.name === ''"
                      class="text-danger"
                    >
                      {{ feedback.message }}
                    </p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label"
                    >Industry <span>*</span></label
                  >
                  <div class="col-md-8">
                    <prime-dropdown
                      v-model="form.industry"
                      :options="industries"
                      optionLabel="name"
                      optionValue="name"
                      :filter="true"
                      placeholder="Select Industry"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                    <p
                      v-if="
                        feedback.field === 'industry' && form.industry === ''
                      "
                      class="text-danger"
                    >
                      {{ feedback.message }}
                    </p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label"
                    >Mobile <span>*</span></label
                  >
                  <div class="col-md-8">
                    <input
                      v-model="form.mobile"
                      type="text"
                      class="form-control"
                      placeholder="Mobile"
                    />
                    <p
                      v-if="feedback.field === 'mobile' && form.mobile === ''"
                      class="text-danger"
                    >
                      {{ feedback.message }}
                    </p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Fax</label>
                  <div class="col-md-8">
                    <input
                      v-model="form.fax"
                      type="text"
                      class="form-control"
                      placeholder="Fax"
                    />
                    <p
                      v-if="feedback.field === 'fax' && form.fax === ''"
                      class="text-danger"
                    >
                      {{ feedback.message }}
                    </p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label"
                    >Email <span>*</span></label
                  >
                  <div class="col-md-8">
                    <input
                      v-model="form.email"
                      type="email"
                      class="form-control"
                      placeholder="Email"
                    />
                    <p
                      v-if="feedback.field === 'email' && form.email === ''"
                      class="text-danger"
                    >
                      {{ feedback.message }}
                    </p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label"
                    >Address <span>*</span></label
                  >
                  <div class="col-md-8">
                    <input
                      v-model="form.address"
                      type="text"
                      class="form-control"
                      placeholder="Address"
                    />
                    <p
                      v-if="feedback.field === 'address' && form.address === ''"
                      class="text-danger"
                    >
                      {{ feedback.message }}
                    </p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Address 2</label>
                  <div class="col-md-8">
                    <input
                      v-model="form.address_2"
                      type="text"
                      class="form-control"
                      placeholder="Address"
                    />
                    <p
                      v-if="
                        feedback.field === 'address_2' && form.address_2 === ''
                      "
                      class="text-danger"
                    >
                      {{ feedback.message }}
                    </p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">City <span>*</span></label>
                  <div class="col-md-8">
                    <input
                      v-model="form.city"
                      type="text"
                      class="form-control"
                      placeholder="City"
                    />
                    <p
                      v-if="feedback.field === 'city' && form.city === ''"
                      class="text-danger"
                    >
                      {{ feedback.message }}
                    </p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">Country</label>
                  <div class="col-md-8">
                    <prime-dropdown
                      v-model="form.country_id"
                      :options="countries"
                      optionLabel="name"
                      optionValue="id"
                      :filter="true"
                      placeholder="Select a Country"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                    <p
                      v-if="
                        feedback.field === 'country_id' &&
                        form.country_id === ''
                      "
                      class="text-danger"
                    >
                      {{ feedback.message }}
                    </p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label">State</label>
                  <div class="col-md-8">
                    <prime-dropdown
                      v-model="form.state_id"
                      :options="states"
                      optionLabel="name"
                      optionValue="id"
                      :filter="true"
                      placeholder="Select a State"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                    <p
                      v-if="
                        feedback.field === 'state_id' && form.state_id === ''
                      "
                      class="text-danger"
                    >
                      {{ feedback.message }}
                    </p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label"
                    >Zip Code <span>*</span></label
                  >
                  <div class="col-md-8">
                    <input
                      v-model="form.zip_code"
                      type="text"
                      class="form-control"
                      placeholder="Zip Code"
                    />
                    <p
                      v-if="
                        feedback.field === 'zip_code' && form.zip_code === ''
                      "
                      class="text-danger"
                    >
                      {{ feedback.message }}
                    </p>
                  </div>
                </div>
                <div class="form-group row mb-0">
                  <div class="col-12">
                    <button
                      type="submit"
                      class="pull-right btn btn-sm btn-primary"
                    >
                      {{ submitBtnText }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-sm-8 pl-5">
              <div class="card-title">Companies</div>

              <div class="table-responsive">
                <div
                  id="example1_wrapper"
                  class="dataTables_wrapper dt-bootstrap4 no-footer"
                >
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">
                        <label>
                          <select
                            v-model="tableData.length"
                            @change="getCompanies()"
                            name="example1_length"
                            aria-controls="example1"
                            class="
                              custom-select custom-select-sm
                              form-control form-control-sm
                            "
                          >
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div id="example1_filter" class="dataTables_filter">
                        <label
                          ><input
                            type="search"
                            v-model="tableData.search"
                            @input="search()"
                            class="form-control form-control-sm"
                            placeholder="Search..."
                            aria-controls="example1"
                        /></label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <datatable
                        :columns="columns"
                        :sortKey="sortKey"
                        :sortOrders="sortOrders"
                        @sort="sortBy"
                      >
                        <tbody>
                          <tr
                            role="row"
                            class="odd"
                            v-for="company in companies"
                            :key="company.id"
                          >
                            <td>
                              <span class="mr-2">
                                <i
                                  @click="setUpForm(company)"
                                  class="fa fa-pencil edit-icon"
                                  data-toggle="tooltip"
                                  title="fa fa-pencil"
                                ></i>
                              </span>
                              <span>
                                <i
                                  @click="deleteCompany(company.id)"
                                  class="text-danger fa fa-trash edit-icon"
                                  data-toggle="tooltip"
                                  title="fa fa-trash"
                                ></i>
                              </span>
                            </td>
                            <td>
                              <span
                                @click="updateStatus(company)"
                                class="state-status"
                                :class="{
                                  'text-success': company.status === 1,
                                }"
                                >{{ fixStatus(company.status) }}</span
                              >
                            </td>
                            <td>
                              {{ company.name }}
                            </td>
                            <td>
                              {{ company.industry }}
                            </td>
                            <td>
                              {{ company.mobile }}
                            </td>
                            <td>
                              {{ company.fax }}
                            </td>
                            <td>
                              {{ company.email }}
                            </td>
                            <td>
                              {{ company.address }}
                            </td>
                            <td>
                              {{ company.address_2 }}
                            </td>
                            <td>
                              {{ company.city }}
                            </td>
                            <td>
                              {{ company.country ? company.country.name : "" }}
                            </td>
                            <td>
                              {{ company.state ? company.state.name : "" }}
                            </td>
                            <td>
                              {{ company.zip_code }}
                            </td>
                          </tr>
                        </tbody>
                      </datatable>
                    </div>
                  </div>
                  <div class="row">
                    <pagination
                      :pagination="pagination"
                      @prev="getCompanies(pagination.prevPageUrl)"
                      @next="getCompanies(pagination.nextPageUrl)"
                    >
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import showErrorMixin from "../../mixins/showError";
import setFeedbackMixin from "../../mixins/setFeedback";
import notifyMixin from "../../mixins/notify";
import checkToken from "../../mixins/checkToken";
import _ from "lodash";

export default {
  mixins: [showErrorMixin, setFeedbackMixin, notifyMixin, checkToken],
  data() {
    let sortOrders = {};
    let columns = [
      {
        label: "",
        name: "actions",
        sortable: false,
      },
      {
        label: "Status",
        name: "status",
        sortable: false,
      },
      {
        label: "Name",
        name: "name",
        sortable: true,
      },
      {
        label: "Industry",
        name: "industry",
        sortable: true,
      },
      {
        label: "Mobile",
        name: "mobile",
        sortable: true,
      },
      {
        label: "Fax",
        name: "fax",
        sortable: true,
      },
      {
        label: "Email",
        name: "email",
        sortable: true,
      },
      {
        label: "Address",
        name: "address",
        sortable: true,
      },
      {
        label: "Address 2",
        name: "address_2",
        sortable: true,
      },
      {
        label: "City",
        name: "city",
        sortable: true,
      },
      {
        label: "Country",
        name: "country_id",
        sortable: false,
      },
      {
        label: "State",
        name: "state_id",
        sortable: false,
      },
      {
        label: "Zip Code",
        name: "zip_code",
        sortable: true,
      },
    ];

    columns.forEach((column) => {
      sortOrders[column.name] = -1; // Descending sort order for default
    });
    sortOrders.name = 1;

    return {
      sortOrders: sortOrders,
      columns: columns,
      sortKey: "name",
      tableData: {
        draw: 0,
        length: 5,
        search: "",
        column: 2,
        dir: "asc",
      },

      pagination: {
        lastPage: "",
        currentPage: "",
        total: "",
        lastPageUrl: "",
        nextPageUrl: "",
        prevPageUrl: "",
        from: "",
        to: "",
      },

      states: [],
      companies: [],

      validation_errors: {},
      feedback: {
        alert_type: null,
        field: null,
        message: null,
      },
      form: {
        id: "",
        name: "",
        industry: "",
        mobile: "",
        fax: "",
        email: "",
        address: "",
        address_2: "",
        city: "",
        country_id: "",
        state_id: "",
        zip_code: "",
      },
      mode: null,
      company_id: null,
    };
  },
  computed: {
    submitBtnText() {
      if (this.mode === "edit") {
        return "Update";
      }
      return "Submit";
    },
    typeOf() {
      if (this.mode === "edit") {
        return "Update";
      }
      return "New";
    },
    industries() {
      return this.$store.getters["masters/industry"];
    },
    countries() {
      return this.$store.getters["countries/countries"];
    },
    token() {
      return this.$store.getters.token;
    },
    selectedcountry() {
      return this.form.country_id;
    },
  },
  created() {
    this.loadMasters();
    this.loadCountries();
    this.getCompanies();
  },
  watch: {
    selectedcountry: function (newValue, oldValue) {
      this.states = [];
      if(oldValue != '') {
        this.form.state_id = "";
      }
      const selected = this.countries.find((country) => {
        return country.id === parseInt(newValue);
      });
      if (!!selected && selected.states.length > 0) {
        this.states = selected.states;
      }
    },
  },
  methods: {
    search: _.debounce(function () {
      this.getCompanies();
    }, 500),
    sortBy(key) {
      this.sortKey = key; // Name of collumn being sorted
      this.sortOrders[key] = this.sortOrders[key] * -1; // For component to change class
      this.tableData.column = this.getIndex(this.columns, "name", key);
      this.tableData.dir = this.sortOrders[key] === 1 ? "asc" : "desc";
      this.getCompanies();
    },
    getIndex(array, key, value) {
      return array.findIndex((i) => i[key] === value);
    },
    configPagination(data) {
      this.pagination.lastPage = data.last_page;
      this.pagination.currentPage = data.current_page;
      this.pagination.total = data.total;
      this.pagination.lastPageUrl = data.last_page_url;
      this.pagination.nextPageUrl = data.next_page_url;
      this.pagination.prevPageUrl = data.prev_page_url;
      this.pagination.from = data.from;
      this.pagination.to = data.to;
    },

    async loadMasters() {
      this.setFeedback(null, null, null);

      try {
        const response = await this.$store.dispatch("masters/getMasters", {
          type: "all",
        });
        if (response.status === 200) {
          this.$store.dispatch("masters/setMasters", response.data.masters);
        }
      } catch (err) {
        console.log("Error");
      }
    },

    async submitCompanyHandler() {
      this.setFeedback(null, null, null);

      if (!this.validate()) {
        return;
      }

      try {
        if (this.mode === "edit") {
          this.form.id = this.company_id;
          const response = await this.$store.dispatch(
            "companies/updateCompany",
            this.form
          );
          if (response.status === 200) {
            this.notify("Company Updated");
            this.getCompanies();
            this.mode = null;
            this.clearForm();
          }
        } else {
          const response = await this.$store.dispatch(
            "companies/submitCompany",
            this.form
          );
          if (response.status === 201) {
            this.notify("Company Saved");
            this.clearForm();
            this.getCompanies();
          }
        }
      } catch (err) {
        if (!!err.response && err.response.status === 422) {
          const errors = err.response.data.errors;
          const first_error = errors[Object.keys(errors)[0]][0];
          this.showError(first_error);
        } else {
          this.showError("Something went wrong while saving state, try again");
        }
      }
    },
    getCompanies(url = "/api/v1/paginated-companies") {
      axios.defaults.headers.common["Authorization"] = "Bearer " + this.token;

      let submit_method = "POST";
      let submit_data = this.tableData;

      axios({ method: submit_method, url: url, data: submit_data }).then(
        (response) => {
          let data = response.data;
          if (this.tableData.draw === data.draw) {
            this.companies = data.companies.data;
            this.configPagination(data.companies);
          }
        }
      );
    },
    async loadCountries() {
      try {
        const response = await this.$store.dispatch("countries/getCountries");
        if (response.status === 200) {
          this.$store.dispatch(
            "countries/setCountries",
            response.data.countries
          );
        }
      } catch (err) {
        console.log("Error");
      }
    },
    validate() {
      if (this.form.name === "") {
        this.setFeedback("error", "Name cannot be blank", "name");
        return false;
      }
      if (this.form.industry === "") {
        this.setFeedback("error", "Industry cannot be blank", "industry");
        return false;
      }
      if (this.form.mobile === "" || this.form.mobile.length > 10) {
        this.setFeedback("error", "Mobile cannot be blank or more than 10 characters", "mobile");
        return false;
      }
      if ( this.form.fax.length > 10) {
        this.setFeedback("error", "Fax cannot be more than 10 characters", "fax");
        return false;
      }
      if (this.form.email === "") {
        this.setFeedback("error", "Email cannot be blank", "email");
        return false;
      }
      if (this.form.address === "") {
        this.setFeedback("error", "Address cannot be blank", "address");
        return false;
      }
      if (this.form.city === "") {
        this.setFeedback("error", "City cannot be blank", "city");
        return false;
      }
      if (this.form.zip_code === "") {
        this.setFeedback("error", "Zip code cannot be blank", "zip_code");
        return false;
      }
      return true;
    },
    setUpForm(company) {
      this.form.country_id = company.country_id;
      this.form.name = company.name;
      this.form.industry = company.industry;
      this.form.mobile = company.mobile;
      this.form.fax = company.fax;
      this.form.email = company.email;
      this.form.address = company.address;
      this.form.address_2 = company.address_2;
      this.form.city = company.city;
      this.form.state_id = company.state_id;
      this.form.zip_code = company.zip_code;
      this.company_id = company.id;
      this.mode = "edit";
    },
    async deleteCompany(id) {
      const swal_response = await this.$swal.fire({
        title: `Do you want to delete this company?`,
        showCancelButton: true,
        confirmButtonText: `Delete`,
      });

      if (swal_response.isConfirmed) {
        try {
          const response = await this.$store.dispatch(
            "companies/deleteCompany",
            id
          );
          if (response.status === 204) {
            this.notify("Company Deleted");
            this.getCompanies();
          }
        } catch (err) {
          this.showError(
            "Something went wrong while deleting company, try again"
          );
        }
      }
    },
    async updateStatus(company) {
      const status = company.status === 1 ? 0 : 1;
      const changeTo = company.status === 1 ? "inactivate" : "activate";
      const swal_response = await this.$swal.fire({
        title: `Do you want to ${changeTo} this state?`,
        showCancelButton: true,
        confirmButtonText: `Update`,
      });

      if (swal_response.isConfirmed) {
        try {
          const response = await this.$store.dispatch(
            "companies/updateCompany",
            {
              id: company.id,
              status: status,
            }
          );
          if (response.status === 200) {
            this.notify(`Company ${changeTo}d`);
            this.clearForm();
            this.getCompanies();
            this.mode = null;
          }
        } catch (err) {
          this.showError(
            "Something went wrong while updating company, try again"
          );
        }
      }
    },
    fixStatus(status) {
      if (status === 1) {
        return "active";
      }
      return "inactive";
    },
    changeToNew() {
      this.mode = null;
      this.clearForm();
    },

    clearForm() {
      this.form.name = "";
      this.form.industry = "";
      this.form.mobile = "";
      this.form.fax = "";
      this.form.email = "";
      this.form.address = "";
      this.form.address_2 = "";
      this.form.city = "";
      this.form.country_id = "";
      this.form.state_id = "";
      this.form.zip_code = "";
    },
  },
};
</script>

<style scoped>
.state-status,
.edit-icon,
delete-icon {
  cursor: pointer;
}
</style>