<template>
  <div class="page-header">
    <div class="page-leftheader">
      <h4 class="page-title">{{ $t("company") }}</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon">{{ $t("dashboard") }}</span></a
            >
          </router-link>
        </li>

        <li class="breadcrumb-item">
          <a>{{ $t("view") }}</a>
        </li>
      </ol>
    </div>
  </div>

  <loader v-if="loading"></loader>

  <div class="row" v-if="!loading">
    <div class="col-xl-8 col-lg-8 col-md-12">
      <div class="main-content-body main-content-body-profile card mg-b-20">
        <div class="main-profile-body">
          <div class="card-header">
            <div class="card-options">
              <div class="btn-group">
                <router-link :to="`/companies/edit`">
                  <a class="btn btn-sm btn-primary">
                    <i
                      class="fa fa-pencil pointer"
                      data-toggle="tooltip"
                      title="fa fa-trash"
                    ></i>
                  </a>
                </router-link>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="main-profile-bio mb-0">
              <div class="table-responsive">
                <table class="table mb-0">
                  <tbody>
                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50"
                          >{{ $t("name") }}
                        </span>
                      </td>
                      <td class="py-2 px-0">{{ company.name }}</td>
                    </tr>
                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50"
                          >{{ $t("industry") }}
                        </span>
                      </td>
                      <td class="py-2 px-0">{{ company.industry }}</td>
                    </tr>
                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50"
                          >{{ $t("mobile") }}
                        </span>
                      </td>
                      <td class="py-2 px-0">{{ company.mobile }}</td>
                    </tr>
                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50"
                          >{{ $t("fax") }}
                        </span>
                      </td>
                      <td class="py-2 px-0">{{ company.fax }}</td>
                    </tr>
                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50"
                          >{{ $t("email") }}
                        </span>
                      </td>
                      <td class="py-2 px-0">{{ company.email }}</td>
                    </tr>
                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50"
                          >{{ $t("currency") }}
                        </span>
                      </td>
                      <td class="py-2 px-0">
                        {{ company.currency.name }} ({{
                          company.currency.code
                        }})
                      </td>
                    </tr>
                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50">{{
                          $t("address")
                        }}</span>
                      </td>
                      <td class="py-2 px-0">{{ company.address }}</td>
                    </tr>

                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50">{{
                          $t("zipCode")
                        }}</span>
                      </td>
                      <td class="py-2 px-0">{{ company.zip_code }}</td>
                    </tr>

                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50">{{
                          $t("city")
                        }}</span>
                      </td>
                      <td class="py-2 px-0">{{ company.city }}</td>
                    </tr>

                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50">{{
                          $t("state")
                        }}</span>
                      </td>
                      <td class="py-2 px-0">{{ company.state }}</td>
                    </tr>

                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50">{{
                          $t("country")
                        }}</span>
                      </td>
                      <td class="py-2 px-0">{{ company.country }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import checkToken from "../../mixins/checkToken";
import fixStatus from "../../mixins/fixStatus";
export default {
  mixins: [checkToken, fixStatus],
  props: ["id"],
  data() {
    return {
      company: {},
      loading: true,
    };
  },
  created() {
    this.getCompany();
  },
  methods: {
    async getCompany() {
      try {
        const response = await this.$store.dispatch(
          "companies/getUserCompany",
          {
            id: this.id,
          }
        );
        this.loading = false;
        if (response.status === 200) {
          this.company = response.data;
        }
      } catch (err) {
        console.log("error");
        this.loading = false;
      }
    },
  },
};
</script>

<style scoped>
</style>