<template>
  <div class="page-header">
    <div class="page-leftheader">
      <h4 class="page-title">
        {{ $t("countries") }}
      </h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon"> {{ $t("dashboard") }}</span></a
            >
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <a>{{ $t("countries") }}</a>
        </li>
      </ol>
    </div>
  </div>

  <loader v-if="loading"></loader>

  <div class="row" v-if="!loading">
    <div class="col-12">
      <div class="card">
        <div class="card-header pr-0">
          <div class="row w-100">
            <div class="col-6 offset-6 text-right">
              <router-link to="/countries/create">
                <a class="pull-right btn btn-sm btn-primary">{{
                  $t("addNew")
                }}</a>
              </router-link>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <div
                  id="example1_wrapper"
                  class="dataTables_wrapper dt-bootstrap4 no-footer"
                >
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">
                        <label>
                          <select
                            v-model="tableData.length"
                            @change="getCountries()"
                            name="example1_length"
                            aria-controls="example1"
                            class="
                              custom-select custom-select-sm
                              form-control form-control-sm
                            "
                          >
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div id="example1_filter" class="dataTables_filter">
                        <label
                          ><input
                            type="search"
                            v-model="tableData.search"
                            @input="search()"
                            class="form-control form-control-sm"
                            placeholder="Search..."
                            aria-controls="example1"
                        /></label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <datatable
                        :columns="columns"
                        :sortKey="sortKey"
                        :sortOrders="sortOrders"
                        @sort="sortBy"
                      >
                        <tbody>
                          <tr
                            role="row"
                            class="odd"
                            v-for="country in countries"
                            :key="country.id"
                          >
                            <td>
                              {{ country.iso }}
                            </td>
                            <td>
                              <router-link :to="`/countries/${country.id}`">
                                <a class="text-primary font-weight-bold fs-12">
                                  {{ country.name }}
                                </a>
                              </router-link>
                            </td>
                            <td>
                              <span
                                @click="updateStatus(country)"
                                :class="{
                                  'badge-success': country.status === 1,
                                  'badge-danger': country.status === 0,
                                }"
                                class="badge"
                              >
                                {{ fixStatus(country.status) }}
                              </span>
                            </td>
                            <td>
                              <span class="mr-2">
                                <router-link
                                  :to="`/countries/${country.id}/edit`"
                                >
                                  <a
                                    ><i
                                      class="fa fa-pencil"
                                      data-toggle="tooltip"
                                      title="fa fa-pencil"
                                    ></i
                                  ></a>
                                </router-link>
                              </span>
                              <span>
                                <i
                                  @click="deleteCountry(country.id)"
                                  class="text-danger fa fa-trash pointer"
                                  data-toggle="tooltip"
                                  title="fa fa-trash"
                                ></i>
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </datatable>
                    </div>
                  </div>
                  <div class="row">
                    <pagination
                      :pagination="pagination"
                      @prev="getCountries(pagination.prevPageUrl)"
                      @next="getCountries(pagination.nextPageUrl)"
                    >
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import showErrorMixin from "../../mixins/showError";
import setFeedbackMixin from "../../mixins/setFeedback";
import notifyMixin from "../../mixins/notify";
import fixStatus from "../../mixins/fixStatus";
import checkToken from "../../mixins/checkToken";
import _ from "lodash";

export default {
  mixins: [
    showErrorMixin,
    setFeedbackMixin,
    notifyMixin,
    fixStatus,
    checkToken,
  ],
  data() {
    let sortOrders = {};
    let columns = [
      {
        label: this.$t("iso"),
        name: "iso",
        sortable: true,
      },
      {
        label: this.$t("name"),
        name: "name",
        sortable: true,
      },
      {
        label: this.$t("status"),
        name: "status",
        sortable: false,
      },
      {
        label: "",
        name: "actions",
        sortable: false,
      },
    ];

    columns.forEach((column) => {
      sortOrders[column.name] = -1; // Descending sort order for default
    });
    sortOrders.name = 1;

    return {
      sortOrders: sortOrders,
      columns: columns,
      sortKey: "name",
      tableData: {
        draw: 0,
        length: 10,
        search: "",
        column: 2,
        dir: "asc",
      },

      pagination: {
        lastPage: "",
        currentPage: "",
        total: "",
        lastPageUrl: "",
        nextPageUrl: "",
        prevPageUrl: "",
        from: "",
        to: "",
      },

      countries: [],
      loading: true,
    };
  },
  created() {
    this.getCountries();
  },
  computed: {
    token() {
      return this.$store.getters.token;
    },
  },
  methods: {
    search: _.debounce(function () {
      this.getCountries();
    }, 500),
    sortBy(key) {
      this.sortKey = key;
      this.sortOrders[key] = this.sortOrders[key] * -1; // For component to change class
      this.tableData.column = this.getIndex(this.columns, "name", key);
      this.tableData.dir = this.sortOrders[key] === 1 ? "asc" : "desc";
      this.getCountries();
    },
    getIndex(array, key, value) {
      return array.findIndex((i) => i[key] === value);
    },
    configPagination(data) {
      this.pagination.lastPage = data.last_page;
      this.pagination.currentPage = data.current_page;
      this.pagination.total = data.total;
      this.pagination.lastPageUrl = data.last_page_url;
      this.pagination.nextPageUrl = data.next_page_url;
      this.pagination.prevPageUrl = data.prev_page_url;
      this.pagination.from = data.from;
      this.pagination.to = data.to;
    },

    getCountries(url = "/api/v1/paginated-countries") {
      axios.defaults.headers.common["Authorization"] = "Bearer " + this.token;

      let submit_method = "POST";
      let submit_data = this.tableData;

      axios({ method: submit_method, url: url, data: submit_data })
        .then((response) => {
          let data = response.data;
          this.loading = false;
          if (this.tableData.draw === data.draw) {
            this.countries = data.countries.data;
            this.configPagination(data.countries);
          }
        })
        .catch((err) => {
          console.log("Error");
          this.loading = false;
        });
    },

    async deleteCountry(country_id) {
      const swal_response = await this.$swal.fire({
        title: this.$t("areYouSure"),
        icon: "warning",
        text: this.$t("youWontBeAbleToReverseThis"),
        showCancelButton: true,
        cancelButtonText: this.$t("cancel"),
        confirmButtonText: this.$t("delete"),
      });

      if (swal_response.isConfirmed) {
        try {
          const response = await this.$store.dispatch(
            "countries/deleteCountry",
            country_id
          );
          if (response.status === 204) {
            this.notify(this.$t("deleted"));
            this.getCountries();
          }
        } catch (err) {
          this.showError(this.$t("somethingWentWrong"));
        }
      }
    },

    async updateStatus(country) {
      const status = !country.status;
      const changeTo =
        country.status === 1 ? this.$t("inactivate") : this.$t("activate");
      let text;
      if (country.status === 1) {
        text = this.$t("doYouWantToInactivateThisCountry");
      } else {
        text = this.$t("doYouWantToActivateThisCountry");
      }
      const swal_response = await this.$swal.fire({
        title: this.$t("areYouSure"),
        text: text,
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: this.$t("cancel"),
        confirmButtonText: this.$t("update"),
      });

      if (swal_response.isConfirmed) {
        try {
          const response = await this.$store.dispatch(
            "countries/updateCountry",
            {
              id: country.id,
              status: status,
            }
          );
          if (response.status === 200) {
            this.notify(this.$t("updated"));
            this.getCountries();
          }
        } catch (err) {
          this.showError(this.$t("somethingWentWrong"));
        }
      }
    },
  },
};
</script>

<style scoped>
.badge,
i {
  cursor: pointer;
}
.border-red {
  border: 1px solid red;
}
</style>