<template>
  <div class="page-header">
    <div class="page-leftheader">
      <h4 class="page-title">{{ $t("countries") }}</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon">{{ $t("dashboard") }}</span></a
            >
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link to="/countries">
            <a>{{ $t("countries") }}</a>
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <a>{{ submitBtnText }}</a>
        </li>
      </ol>
    </div>
  </div>

  <div class="row" id="lead-div">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{ typeOfUser }} {{ $t("country") }}</h4>
        </div>
        <div class="card-body">
          <form @submit.prevent="submitCountryHandler">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("name") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('name') && form.name === '',
                      }"
                      v-model="form.name"
                      type="text"
                      class="form-control"
                      :placeholder="$t('name')"
                    />
                  </div>
                  <p
                    v-if="findFieldinFeedback('name') && form.name === ''"
                    class="text-danger"
                  >
                    {{ $t("nameCannotBeBlank") }}
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("niceName") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('nicename') &&
                          form.nicename === '',
                      }"
                      v-model="form.nicename"
                      type="text"
                      class="form-control"
                      :placeholder="$t('niceName')"
                    />
                  </div>
                  <p
                    v-if="
                      findFieldinFeedback('nicename') && form.nicename === ''
                    "
                    class="text-danger"
                  >
                    {{ $t("niceNameCannotBeBlank") }}
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("iso") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('iso') && form.iso === '',
                      }"
                      v-model="form.iso"
                      type="text"
                      class="form-control"
                      maxlength="2"
                      :placeholder="$t('iso')"
                    />
                  </div>
                  <p
                    v-if="findFieldinFeedback('iso') && form.iso === ''"
                    class="text-danger"
                  >
                    {{ $t("isoCannotBeBlank") }}
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("iso3") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('iso3') && form.iso3 === '',
                      }"
                      v-model="form.iso3"
                      class="form-control"
                      maxlength="3"
                      :placeholder="$t('iso3')"
                    />
                  </div>
                  <p
                    v-if="findFieldinFeedback('iso3') && form.iso3 === ''"
                    class="text-danger"
                  >
                    {{ $t("iso3CannotBeBlank") }}
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("numberCode") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('numcode') && form.numcode === '',
                      }"
                      v-model="form.numcode"
                      type="number"
                      class="form-control"
                      :placeholder="$t('numberCode')"
                    />
                  </div>
                  <p
                    v-if="findFieldinFeedback('numcode') && form.numcode === ''"
                    class="text-danger"
                  >
                    {{ $t("numcodeCannotBeBlank") }}
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("phoneCode") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('phonecode') &&
                          form.phonecode === '',
                      }"
                      v-model="form.phonecode"
                      type="number"
                      maxlength="5"
                      class="form-control"
                      :placeholder="$t('phoneCode')"
                    />
                  </div>
                  <p
                    v-if="
                      findFieldinFeedback('phonecode') && form.phonecode === ''
                    "
                    class="text-danger"
                  >
                    {{ $t("phonecodeCannotBeBlank") }}
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button
                  type="submit"
                  class="pull-right btn btn-sm btn-primary"
                  :class="{
                    'btn-loading': is_sending,
                  }"
                  :disabled="is_sending"
                >
                  {{ submitBtnText }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import clearFormMixin from "../../mixins/clearForm";
import showErrorMixin from "../../mixins/showError";
import setFeedbackMixin from "../../mixins/setFeedback";
import notifyMixin from "../../mixins/notify";
export default {
  mixins: [clearFormMixin, showErrorMixin, setFeedbackMixin, notifyMixin],
  props: {
    id: {
      type: Number,
      required: false,
    },
  },
  data() {
    return {
      is_sending: false,
      feedback: [],
      country: [],
      form: {
        iso: "",
        name: "",
        nicename: "",
        iso3: "",
        numcode: "",
        phonecode: "",
        status: 1,
      },
      mode: "",
    };
  },
  created() {
    if (typeof this.id !== "undefined") {
      this.getCountry();
    }
  },
  computed: {
    isPhotoLink() {
      return (
        this.form.photo &&
        this.mode === "edit" &&
        this.id &&
        !(this.form.photo instanceof File)
      );
    },
    photoLink() {
      if (this.form.photo) {
        return `/storage/user_photos/${this.form.photo}`;
      }
      return "";
    },
    titles() {
      return this.$store.getters["masters/titles"];
    },
    token() {
      return this.$store.getters.token;
    },
    roles() {
      return this.$store.getters["roles/roles"];
    },
    submitBtnText() {
      if (this.mode === "edit") {
        return this.$t("update");
      }
      return this.$t("submit");
    },
    typeOfUser() {
      if (this.mode === "edit") {
        return this.$t("update");
      }
      return this.$t("new");
    },
    loggedUser() {
      return this.$store.getters.user;
    },
  },
  methods: {
    async getCountry() {
      try {
        const response = await this.$store.dispatch("countries/getCountry", {
          id: this.id,
        });
        if (response.status === 200) {
          this.setUpForm(response.data);
        }
      } catch (err) {
        console.log("error");
      }
    },
    onChange(event) {
      this.form.photo = event.target.files[0];
    },

    async submitCountryHandler() {
      this.feedback = [];

      if (!this.validate()) {
        return;
      }

      try {
        if (this.mode === "edit") {
          this.form.id = this.id;
          const response = await this.$store.dispatch(
            "countries/updateCountry",
            this.form
          );
          if (response.status === 200) {
            this.notify(this.$t("updated"));
            this.$router.replace(`/countries/${response.data.id}`);
          }
        } else {
          const response = await this.$store.dispatch(
            "countries/submitCountry",
            this.form
          );
          if (response.status === 201) {
            this.notify(this.$t("saved"));
            this.$router.replace(`/countries/${response.data.id}`);
          }
        }
      } catch (err) {
        if (!!err.response && err.response.status === 422) {
          const errors = err.response.data.errors;
          const first_error = errors[Object.keys(errors)[0]][0];
          this.showError(first_error);
        } else {
          this.showError(this.$t("somethingWentWrong"));
        }
      }
    },
    validate() {
      if (this.form.name === "") {
        this.setFeedback("error", "name");
      }
      if (this.form.nicename === "") {
        this.setFeedback("error", "nicename");
      }
      if (this.form.iso === "") {
        this.setFeedback("error", "iso");
      }
      if (this.form.iso3 === "") {
        this.setFeedback("error", "iso3");
      }
      if (this.form.numcode === "") {
        this.setFeedback("error", "numcode");
      }
      if (this.form.phonecode === "") {
        this.setFeedback("error", "phonecode");
      }
      if (this.feedback.length !== 0) {
        return false;
      }
      return true;
    },

    setUpForm(country) {
      this.clearForm();
      this.form.iso = country.iso;
      this.form.name = country.name;
      this.form.nicename = country.nicename;
      this.form.iso3 = country.iso3;
      this.form.numcode = country.numcode;
      this.form.phonecode = country.phonecode;
      this.form.status = country.status;
      this.mode = "edit";
    },

    clearForm() {
      this.form.iso = "";
      this.form.name = "";
      this.form.nicename = "";
      this.form.iso3 = "";
      this.form.numcode = "";
      this.form.phonecode = "";
      this.form.status = 1;
    },
  },
};
</script>

<style scoped>
.border-red {
  border: 1px solid red;
}
</style>