<template>
  <div class="page-header">
    <div class="page-leftheader">
      <h4 class="page-title">{{ $t("countryDetails") }}</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon">{{ $t("dashboard") }}</span></a
            >
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link to="/countries">
            <a>{{ $t("countries") }}</a>
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <a>{{ $t("view") }}</a>
        </li>
      </ol>
    </div>
  </div>

  <loader v-if="loading"></loader>

  <div class="row" v-if="!loading">
    <div class="col-xl-8 col-lg-8 col-md-12">
      <div class="main-content-body main-content-body-profile card mg-b-20">
        <div class="main-profile-body">
          <div class="card-header">
            <div class="card-options">
              <div class="btn-group">
                <router-link to="/countries/create">
                  <a class="btn btn-sm btn-primary mr-2">
                    <i
                      class="fa fa-plus"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="fa fa-plus"
                    ></i>
                  </a>
                </router-link>
                <router-link :to="`/countries/${country.id}/edit`">
                  <a class="btn btn-sm btn-primary">
                    <i
                      class="fa fa-pencil pointer"
                      data-toggle="tooltip"
                      title="fa fa-trash"
                    ></i>
                  </a>
                </router-link>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="main-profile-bio mb-0">
              <div class="table-responsive">
                <table class="table mb-0">
                  <tbody>
                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50"
                          >{{ $t("name") }}
                        </span>
                      </td>
                      <td class="py-2 px-0">{{ country.name }}</td>
                    </tr>
                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50"
                          >{{ $t("iso") }}
                        </span>
                      </td>
                      <td class="py-2 px-0">{{ country.iso }}</td>
                    </tr>
                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50"
                          >{{ $t("iso3") }}
                        </span>
                      </td>
                      <td class="py-2 px-0">{{ country.iso3 }}</td>
                    </tr>
                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50"
                          >{{ $t("niceName") }}
                        </span>
                      </td>
                      <td class="py-2 px-0">{{ country.nicename }}</td>
                    </tr>
                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50"
                          >{{ $t("numberCode") }}
                        </span>
                      </td>
                      <td class="py-2 px-0">{{ country.numcode }}</td>
                    </tr>
                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50">{{
                          $t("phoneCode")
                        }}</span>
                      </td>
                      <td class="py-2 px-0">{{ country.phonecode }}</td>
                    </tr>
                    <tr>
                      <td class="py-2 px-0">
                        <span class="font-weight-semibold w-50">{{
                          $t("status")
                        }}</span>
                      </td>
                      <td class="py-2 px-0">
                        <span
                          :class="{
                            'badge-success': country.status === 1,
                            'badge-danger': country.status === 0,
                          }"
                          class="badge"
                        >
                          {{ fixStatus(country.status) }}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import checkToken from "../../mixins/checkToken";
import fixStatus from "../../mixins/fixStatus";
export default {
  mixins: [checkToken, fixStatus],
  props: ["id"],
  data() {
    return {
      country: {},
      loading: true,
    };
  },
  created() {
    this.getCountry();
  },
  methods: {
    async getCountry() {
      try {
        const response = await this.$store.dispatch("countries/getCountry", {
          id: this.id,
        });
        this.loading = false;
        if (response.status === 200) {
          this.country = response.data;
        }
      } catch (err) {
        console.log("error");
        this.loading = false;
      }
    },
  },
};
</script>

<style scoped>
</style>