<template>
  <div class="page-header">
    <div class="page-leftheader">
      <h4 class="page-title">Lead</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon"> Dashboard</span></a
            >
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link to="/leads">
            <a>Leads</a>
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <a>Create</a>
        </li>
      </ol>
    </div>
  </div>

  <div class="row" id="lead-div">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Lead Details</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <form class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 form-label">First Name</label>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-4 pr-1">
                        <prime-dropdown
                          tabindex="1"
                          v-model="form.title"
                          :options="titles"
                          optionLabel="name"
                          optionValue="name"
                          :filter="true"
                          placeholder="Title"
                        >
                          <template #label="slotProps">
                            <div
                              class="country-item country-item-value"
                              v-if="slotProps.label"
                            >
                              <div>{{ slotProps }}</div>
                            </div>
                            <span v-else>
                              {{ slotProps.placeholder }}
                            </span>
                          </template>
                          <template #option="slotProps">
                            <div class="country-item">
                              <div>{{ slotProps.option.name }}</div>
                            </div>
                          </template>
                        </prime-dropdown>
                      </div>
                      <div class="col-md-8 pl-0">
                        <input
                          tabindex="2"
                          v-model="form.first_name"
                          type="text"
                          class="form-control"
                          placeholder="First Name"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Primary Phone</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="4"
                      type="text"
                      class="form-control"
                      v-model="form.phone"
                      placeholder="Primary Phone"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Mobile Phone</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="6"
                      type="text"
                      class="form-control"
                      v-model="form.mobile"
                      placeholder="Mobile Phone"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Fax</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="8"
                      type="text"
                      class="form-control"
                      v-model="form.fax"
                      placeholder="Fax"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Primary Email</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="10"
                      type="email"
                      class="form-control"
                      v-model="form.email"
                      placeholder="Primary Email"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Website</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="12"
                      type="text"
                      class="form-control"
                      v-model="form.website"
                      placeholder="Website"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Lead Status</label
                  >
                  <div class="col-md-9">
                    <prime-dropdown
                      v-model="form.status"
                      :options="statuses"
                      tabindex="14"
                      optionLabel="name"
                      optionValue="name"
                      :filter="true"
                      placeholder="Select Status"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Rating</label
                  >
                  <div class="col-md-9">
                    <prime-dropdown
                      v-model="form.rating"
                      :options="ratings"
                      tabindex="16"
                      optionLabel="name"
                      optionValue="name"
                      :filter="true"
                      placeholder="Select Rating"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Assigned To <span>*</span></label
                  >
                  <div class="col-md-9">
                    <prime-dropdown
                      v-model="form.assigned_to"
                      :options="users"
                      optionLabel="first_name"
                      tabindex="18"
                      optionValue="id"
                      :filter="true"
                      placeholder="Select Assignee"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.first_name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                    <p
                      v-if="
                        feedback.field === 'assigned_to' &&
                        form.assigned_to === -1
                      "
                      class="text-danger"
                    >
                      {{ feedback.message }}
                    </p>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-lg-6 col-md-12">
              <form class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Last Name <span>*</span></label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="3"
                      type="text"
                      class="form-control"
                      v-model="form.last_name"
                      placeholder="Last Name"
                    />
                    <p
                      v-if="
                        feedback.field === 'last_name' &&
                        (form.last_name === null || form.last_name === '')
                      "
                      class="text-danger"
                    >
                      {{ feedback.message }}
                    </p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Company</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="5"
                      type="text"
                      class="form-control"
                      v-model="form.company"
                      placeholder="Company"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Designation</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="7"
                      type="text"
                      class="form-control"
                      v-model="form.designation"
                      placeholder="Designation"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Lead Source</label
                  >
                  <div class="col-md-9">
                    <prime-dropdown
                      tabindex="9"
                      v-model="form.source"
                      :options="sources"
                      optionLabel="name"
                      optionValue="name"
                      :filter="true"
                      placeholder="Select Source"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Industry</label
                  >
                  <div class="col-md-9">
                    <prime-dropdown
                      tabindex="11"
                      v-model="form.industry"
                      :options="industries"
                      optionLabel="name"
                      optionValue="name"
                      :filter="true"
                      placeholder="Select Industry"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Annual Revenue</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="13"
                      type="number"
                      class="form-control"
                      v-model="form.annual_revenue"
                      placeholder="Annual Revenue"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Number of Employees</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="15"
                      type="number"
                      class="form-control"
                      v-model="form.no_of_employees"
                      placeholder="Number of Employees"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email">
                    Secondary Email</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="17"
                      type="email"
                      class="form-control"
                      v-model="form.secondary_email"
                      placeholder="Secondary Email"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Email Opt Out</label
                  >
                  <div class="col-md-9">
                    <label class="custom-control custom-checkbox">
                      <input
                        tabindex="19"
                        type="checkbox"
                        class="custom-control-input"
                        value="option1"
                        checked=""
                        v-model="form.email_opt_out"
                      />
                      <span class="custom-control-label"></span>
                    </label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Street</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <form class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 form-label">Street</label>
                  <div class="col-md-9">
                    <input
                      tabindex="20"
                      v-model="form.lane"
                      type="text"
                      class="form-control"
                      placeholder="Street"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label">Postal Code</label>
                  <div class="col-md-9">
                    <input
                      tabindex="22"
                      v-model="form.code"
                      type="text"
                      class="form-control"
                      placeholder="Postal Code"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label">Country</label>
                  <div class="col-md-9">
                    <prime-dropdown
                      tabindex="24"
                      v-model="form.country"
                      :options="countries"
                      optionLabel="name"
                      optionValue="id"
                      :filter="true"
                      placeholder="Select Country"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-lg-6 col-md-12">
              <form class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >P O Box</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="21"
                      type="text"
                      class="form-control"
                      v-model="form.pobox"
                      placeholder="P O Box"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >City</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="23"
                      type="text"
                      class="form-control"
                      v-model="form.city"
                      placeholder="City"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >State</label
                  >
                  <div class="col-md-9">
                    <prime-dropdown
                      v-model="form.state"
                      tabindex="25"
                      :options="states"
                      optionLabel="name"
                      optionValue="id"
                      :filter="true"
                      placeholder="Select State"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Description</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div tabindex="26" class="col-12">
              <ckeditor
                :editor="editor"
                v-model="form.description"
                :config="editorConfig"
              ></ckeditor>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button
        @click="submitLeadHandler"
        type="button"
        class="pull-right btn btn-sm btn-primary"
      >
        Submit
      </button>
    </div>
  </div>
</template>

<script>
import showErrorMixin from "../../mixins/showError";
import notifyMixin from "../../mixins/notify";
import clearFormMixin from "../../mixins/clearForm";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import ckEditorConfig from "../../mixins/cKEditorConfig";
import fixNegative from "../../mixins/fixNegative";
import setFeedbackMixin from "../../mixins/setFeedback";
import checkToken from "../../mixins/checkToken";

export default {
  mixins: [
    clearFormMixin,
    ckEditorConfig,
    showErrorMixin,
    notifyMixin,
    fixNegative,
    setFeedbackMixin,
    checkToken,
  ],
  props: ["type"],
  data() {
    return {
      editor: ClassicEditor,
      form: {
        title: -1,
        first_name: null,
        phone: null,
        mobile: null,
        fax: null,
        email: null,
        website: null,
        status: -1,
        rating: -1,
        assigned_to: -1,
        last_name: null,
        company: null,
        designation: null,
        source: -1,
        industry: -1,
        designation: null,
        no_of_employees: null,
        secondary_email: null,
        email_opt_out: null,
        lane: null,
        pobox: null,
        code: null,
        city: null,
        country: -1,
        state: -1,
        description: null,
        annual_revenue: null,
        created_by: null,
      },
      states: [],
      validation_errors: {},
      feedback: {
        alert_type: null,
        field: null,
        message: null,
      },
      id: null,
      mode: null,
    };
  },
  created() {
    this.loadMasters();
    this.loadUsers();
    this.loadCountries();
    this.form.created_by = this.loggedUser.id;
    window.addEventListener("keyup", this.keyListener);
  },
  beforeUnmount() {
    window.removeEventListener("keyup", this.keyListener);
  },
  watch: {
    selectedcountry: function (newValue, oldValue) {
      this.states = [];
      const selected = this.countries.find((country) => {
        return country.id === parseInt(newValue);
      });
      if (!!selected && selected.states.length > 0) {
        this.states = selected.states;
      }
    },
  },
  computed: {
    selectedcountry() {
      return this.form.country;
    },
    submitbtntext() {
      if (this.mode === "edit") {
        return "update";
      }
      return "submit";
    },
    typeofmaster() {
      if (this.mode === "edit") {
        return "update";
      }
      return "new";
    },
    titles() {
      return this.$store.getters["masters/titles"];
    },
    sources() {
      return this.$store.getters["masters/lead_source"];
    },
    industries() {
      return this.$store.getters["masters/industry"];
    },
    ratings() {
      return this.$store.getters["masters/rating"];
    },
    statuses() {
      return this.$store.getters["masters/lead_status"];
    },
    users() {
      return this.$store.getters["users/users"];
    },
    countries() {
      return this.$store.getters["countries/countries"];
    },
    loggedUser() {
      return this.$store.getters.user;
    },
  },
  methods: {
    keyListener(event) {
      if (event.key === "Enter") {
        this.submitLeadHandler();
      }
    },
    async loadCountries() {
      try {
        const response = await this.$store.dispatch("countries/getCountries");
        if (response.status === 200) {
          this.$store.dispatch(
            "countries/setCountries",
            response.data.countries
          );
        }
      } catch (err) {
        console.log("error");
      }
    },
    async loadUsers() {
      try {
        const response = await this.$store.dispatch("users/getUsers");
        if (response.status === 200) {
          this.$store.dispatch("users/setUsers", response.data.users);
          this.form.name = null;
          this.form.email = null;
        }
      } catch (err) {
        console.log("error");
      }
    },
    async loadMasters() {
      this.setFeedback(null, null, null);

      try {
        const response = await this.$store.dispatch("masters/getMasters", {
          type: "all",
        });
        if (response.status === 200) {
          this.$store.dispatch("masters/setMasters", response.data.masters);
        }
      } catch (err) {
        console.log("error");
      }
    },
    async submitLeadHandler() {
      this.setFeedback(null, null, null);

      if (!this.validate()) {
        return;
      }

      this.fixNegative();

      try {
        const response = await this.$store.dispatch(
          "leads/submitLead",
          this.form
        );
        if (!!response && response.status === 201) {
          this.notify("Lead saved");
          this.$router.replace(`/leads/${response.data}`);
        }
      } catch (err) {
        if (!!err.response && err.response.status === 422) {
          const errors = err.response.data.errors;
          const first_error = errors[object.keys(errors)[0]][0];
          this.showError(first_error);
        } else {
          this.showError("something went wrong while saving lead, try again");
          console.log("error");
        }
      }
    },

    validate() {
      if (this.form.last_name === null || this.form.last_name === "") {
        this.setFeedback("error", "Last Name cannot be blank", "last_name");
        return false;
      }
      if (this.form.assigned_to === -1) {
        this.setFeedback("error", "Assigned to cannot be blank", "assigned_to");
        return false;
      }
      return true;
    },

    async deleteuser(id) {
      const swal_response = await this.$swal.fire({
        title: `do you want to delete this user?`,
        showcancelbutton: true,
        confirmbuttontext: `delete`,
      });

      if (swal_response.isconfirmed) {
        try {
          const response = await this.$store.dispatch("users/deleteuser", id);
          if (response.status === 204) {
            this.notify("user deleted");
            this.loadusers();
          }
        } catch (err) {
          this.showError("something went wrong while deleting user, try again");
        }
      }
    },

    userstatus(status) {
      if (status === 1) {
        return "active";
      }
      return "inactive";
    },

    async updatestatus(user) {
      const changeto = user.active === 1 ? "inactivate" : "activate";
      const swal_response = await this.$swal.fire({
        title: `do you want to ${changeto} this user?`,
        showcancelbutton: true,
        confirmbuttontext: `update`,
      });

      if (swal_response.isconfirmed) {
        try {
          const response = await this.$store.dispatch("users/updateuser", {
            id: user.id,
            active: user.active === 1 ? 0 : 1,
          });
          if (response.status === 200) {
            this.notify(`user ${changeto}d`);
            this.loadusers();
            this.mode = null;
            this.id = null;
            this.form.name = null;
            this.form.email = null;
          }
        } catch (err) {
          this.showError("something went wrong while updating user, try again");
        }
      }
    },
  },
};
</script>

<style scoped>
i,
.user-status {
  cursor: pointer;
}

table .action-col {
  width: 1%;
  white-space: nowrap;
}

label > span {
  color: red;
}
</style>