<template>
  <div class="page-header">
    <div class="page-leftheader">
      <h4 class="page-title">Lead</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon"> Dashboard</span></a
            >
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link to="/leads">
            <a>Leads</a>
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <a>Edit</a>
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Edit Lead</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <form class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 form-label">First Name</label>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-4 pr-1">
                        <prime-dropdown
                          v-model="form.title"
                          tabindex="1"
                          :options="titles"
                          optionLabel="name"
                          optionValue="name"
                          :filter="true"
                          placeholder="Title"
                        >
                          <template #label="slotProps">
                            <div
                              class="country-item country-item-value"
                              v-if="slotProps.label"
                            >
                              <div>{{ slotProps }}</div>
                            </div>
                            <span v-else>
                              {{ slotProps.placeholder }}
                            </span>
                          </template>
                          <template #option="slotProps">
                            <div class="country-item">
                              <div>{{ slotProps.option.name }}</div>
                            </div>
                          </template>
                        </prime-dropdown>
                      </div>
                      <div class="col-md-8 pl-0">
                        <input
                          tabindex="2"
                          v-model="form.first_name"
                          type="text"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Primary Phone</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="4"
                      type="text"
                      class="form-control"
                      v-model="form.phone"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Mobile Phone</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="6"
                      type="text"
                      class="form-control"
                      v-model="form.mobile"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Fax</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="8"
                      type="text"
                      class="form-control"
                      v-model="form.fax"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Primary Email</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="10"
                      type="email"
                      class="form-control"
                      v-model="form.email"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Website</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="12"
                      type="text"
                      class="form-control"
                      v-model="form.website"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Lead Status</label
                  >
                  <div class="col-md-9">
                    <prime-dropdown
                      v-model="form.status"
                      :options="statuses"
                      tabindex="14"
                      optionLabel="name"
                      optionValue="name"
                      :filter="true"
                      placeholder="Select Status"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Rating</label
                  >
                  <div class="col-md-9">
                    <prime-dropdown
                      v-model="form.rating"
                      :options="ratings"
                      optionLabel="name"
                      optionValue="name"
                      tabindex="16"
                      :filter="true"
                      placeholder="Select Rating"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Assigned To <span>*</span></label
                  >
                  <div class="col-md-9">
                    <prime-dropdown
                      v-model="form.assigned_to"
                      :options="users"
                      optionLabel="first_name"
                      tabindex="18"
                      optionValue="id"
                      :filter="true"
                      placeholder="Select Assignee"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.first_name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                    <p
                      v-if="
                        feedback.field === 'assigned_to' &&
                        (form.assigned_to === null || form.assigned_to === '')
                      "
                      class="text-danger"
                    >
                      {{ feedback.message }}
                    </p>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-lg-6 col-md-12">
              <form class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Last Name <span>*</span></label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="3"
                      type="text"
                      class="form-control"
                      v-model="form.last_name"
                    />
                    <p
                      v-if="
                        feedback.field === 'last_name' &&
                        (form.last_name === null || form.last_name === '')
                      "
                      class="text-danger"
                    >
                      {{ feedback.message }}
                    </p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Company</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="5"
                      type="text"
                      class="form-control"
                      v-model="form.company"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Designation</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="7"
                      type="text"
                      class="form-control"
                      v-model="form.designation"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Lead Source</label
                  >
                  <div class="col-md-9">
                    <prime-dropdown
                      tabindex="9"
                      v-model="form.source"
                      :options="sources"
                      optionLabel="name"
                      optionValue="name"
                      :filter="true"
                      placeholder="Select Source"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Industry</label
                  >
                  <div class="col-md-9">
                    <prime-dropdown
                      v-model="form.industry"
                      :options="industries"
                      tabindex="11"
                      optionLabel="name"
                      optionValue="name"
                      :filter="true"
                      placeholder="Select Industry"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Annual Revenue</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="13"
                      type="number"
                      class="form-control"
                      v-model="form.annual_revenue"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Number of Employees</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="15"
                      type="number"
                      class="form-control"
                      v-model="form.no_of_employees"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email">
                    Secondary Email</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="17"
                      type="email"
                      class="form-control"
                      v-model="form.secondary_email"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >Email Opt Out</label
                  >
                  <div class="col-md-9">
                    <label class="custom-control custom-checkbox">
                      <input
                        tabindex="19"
                        type="checkbox"
                        class="custom-control-input"
                        v-model="form.email_opt_out"
                      />
                      <span class="custom-control-label"></span>
                    </label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Street</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <form class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 form-label">Street</label>
                  <div class="col-md-9">
                    <input
                      tabindex="20"
                      v-model="form.lane"
                      type="text"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label">Postal Code</label>
                  <div class="col-md-9">
                    <input
                      tabindex="22"
                      v-model="form.code"
                      type="text"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label">Country</label>
                  <div class="col-md-9">
                    <prime-dropdown
                      v-model="form.country"
                      tabindex="24"
                      :options="countries"
                      optionLabel="name"
                      optionValue="id"
                      :filter="true"
                      placeholder="Select Country"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-lg-6 col-md-12">
              <form class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >P O Box</label
                  >
                  <div class="col-md-9">
                    <input
                      tabindex="21"
                      type="text"
                      class="form-control"
                      v-model="form.pobox"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >City</label
                  >
                  <div class="col-md-9">
                    <input
                      type="text"
                      tabindex="23"
                      class="form-control"
                      v-model="form.city"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-label" for="example-email"
                    >State</label
                  >
                  <div class="col-md-9">
                    <prime-dropdown
                      v-model="form.state"
                      :options="states"
                      optionLabel="name"
                      optionValue="id"
                      tabindex="25"
                      :filter="true"
                      placeholder="Select State"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Description</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div tabindex="26" class="col-12">
              <ckeditor
                :editor="editor"
                v-model="form.description"
                :config="editorConfig"
              ></ckeditor>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button
        @click="submitLeadHandler"
        type="button"
        class="pull-right btn btn-sm btn-primary"
      >
        Submit
      </button>
    </div>
  </div>
</template>

<script>
import showErrorMixin from "../../mixins/showError";
import notifyMixin from "../../mixins/notify";
import clearFormMixin from "../../mixins/clearForm";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import ckEditorConfig from "../../mixins/cKEditorConfig";
import fixNegative from "../../mixins/fixNegative";
import setFeedbackMixin from "../../mixins/setFeedback";
import checkToken from "../../mixins/checkToken";

export default {
  mixins: [
    clearFormMixin,
    ckEditorConfig,
    fixNegative,
    setFeedbackMixin,
    showErrorMixin,
    notifyMixin,
    checkToken,
  ],
  props: ["id"],
  data() {
    return {
      editor: ClassicEditor,
      form: {
        id: null,
        title: null,
        first_name: null,
        phone: null,
        mobile: null,
        fax: null,
        email: null,
        website: null,
        status: null,
        rating: null,
        assigned_to: null,
        last_name: null,
        company: null,
        designation: null,
        source: null,
        industry: null,
        designation: null,
        no_of_employees: null,
        secondary_email: null,
        email_opt_out: null,
        annual_revenue: null,
        lane: null,
        pobox: null,
        code: null,
        city: null,
        country: null,
        state: null,
        description: null,
        created_by: null,
      },
      states: [],
      validation_errors: {},
      feedback: {
        alert_type: null,
        field: null,
        message: null,
      },
      mode: null,
      lead: {},
    };
  },
  created() {
    this.loadCountries();
    this.getLead();
    this.loadMasters();
    this.loadUsers();
    this.form.created_by = this.loggedUser.id;
    window.addEventListener("keyup", this.keyListener);
  },
  beforeUnmount() {
    window.removeEventListener("keyup", this.keyListener);
  },
  watch: {
    selectedcountry: function (newValue, oldValue) {
      this.states = [];
      const selected = this.countries.find((country) => {
        return country.id === parseInt(newValue);
      });
      if (!!selected && selected.states.length > 0) {
        this.states = selected.states;
      }
    },
  },
  computed: {
    selectedcountry() {
      return this.form.country;
    },
    submitbtntext() {
      if (this.mode === "edit") {
        return "update";
      }
      return "submit";
    },
    typeofmaster() {
      if (this.mode === "edit") {
        return "update";
      }
      return "new";
    },
    titles() {
      return this.$store.getters["masters/titles"];
    },
    sources() {
      return this.$store.getters["masters/lead_source"];
    },
    industries() {
      return this.$store.getters["masters/industry"];
    },
    ratings() {
      return this.$store.getters["masters/rating"];
    },
    statuses() {
      return this.$store.getters["masters/lead_status"];
    },
    users() {
      return this.$store.getters["users/users"];
    },
    countries() {
      return this.$store.getters["countries/countries"];
    },
    loggedUser() {
      return this.$store.getters.user;
    },
  },
  methods: {
    keyListener(event) {
      if (event.key === "Enter") {
        this.submitLeadHandler();
      }
    },
    async getLead() {
      try {
        const response = await this.$store.dispatch("leads/getLead", {
          id: this.id,
        });
        if (response.status === 200) {
          this.lead = response.data;
          this.setupform();
        }
      } catch (err) {
        console.log("error");
      }
    },
    async loadCountries() {
      try {
        const response = await this.$store.dispatch("countries/getCountries");
        if (response.status === 200) {
          this.$store.dispatch(
            "countries/setCountries",
            response.data.countries
          );
        }
      } catch (err) {
        console.log("error");
      }
    },
    async loadUsers() {
      try {
        const response = await this.$store.dispatch("users/getUsers");
        if (response.status === 200) {
          this.$store.dispatch("users/setUsers", response.data.users);
        }
      } catch (err) {
        console.log("error");
      }
    },
    async loadMasters() {
      this.setFeedback(null, null, null);

      try {
        const response = await this.$store.dispatch("masters/getMasters", {
          type: "all",
        });
        if (response.status === 200) {
          this.$store.dispatch("masters/setMasters", response.data.masters);
        }
      } catch (err) {
        console.log("error");
        this.showError(
          "something went wrong while saving fetching masters, try again"
        );
      }
    },
    async submitLeadHandler() {
      this.setFeedback(null, null, null);

      if (!this.validate()) {
        return;
      }

      this.fixNegative();

      this.form.id = this.id;

      try {
        const response = await this.$store.dispatch(
          "leads/updateLead",
          this.form
        );
        if (!!response && response.status === 200) {
          this.notify("Lead Updated");
          this.$router.replace(`/leads/${response.data}`);
        }
      } catch (err) {
        if (!!err.response && err.response.status === 422) {
          const errors = err.response.data.errors;
          const first_error = errors[object.keys(errors)[0]][0];
          this.showError(first_error);
        } else {
          this.showError("something went wrong while updating lead, try again");
          console.log("error");
        }
      }
    },

    validate() {
      if (this.form.last_name === null || this.form.last_name === "") {
        this.setFeedback("error", "Last Name cannot be blank", "last_name");
        return false;
      }
      if (this.form.assigned_to === null || this.form.assigned_to === "") {
        this.setFeedback("error", "Assigned to cannot be blank", "assigned_to");
        return false;
      }
      return true;
    },

    setupform() {
      this.form.title = this.lead.title;
      this.form.first_name = this.lead.first_name;
      this.form.phone = this.lead.phone;
      this.form.mobile = this.lead.mobile;
      this.form.fax = this.lead.fax;
      this.form.email = "Felix@felix.com";
      this.form.website = this.lead.website;
      this.form.status = this.lead.status;
      this.form.rating = this.lead.rating;
      this.form.assigned_to = this.lead.assignee.id;
      this.form.last_name = this.lead.last_name;
      this.form.company = this.lead.company;
      this.form.designation = this.lead.designation;
      this.form.annual_revenue = this.lead.annual_revenue;
      this.form.source = this.lead.source;
      this.form.industry = this.lead.industry;
      this.form.designation = this.lead.designation;
      this.form.no_of_employees = this.lead.no_of_employees;
      this.form.secondary_email = this.lead.secondary_email;
      this.form.email_opt_out = this.lead.email_opt_out === 1 ? true : false;
      this.form.lane = this.lead.lane;
      this.form.pobox = this.lead.pobox;
      this.form.code = this.lead.code;
      this.form.city = this.lead.city;
      this.form.country = this.lead.country.id;

      const selected = this.countries.find((country) => {
        return country.id === parseInt(this.form.country);
      });
      if (!!selected && selected.states.length > 0) {
        this.states = selected.states;
      }

      this.form.state = this.lead.state ? this.lead.state.id : null;
      this.form.description = this.lead.description;
    },
  },
};
</script>

<style scoped></style>