<template>
  <div class="page-header">
    <div class="page-leftheader">
      <h4 class="page-title">Lead</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon"> Dashboard</span></a
            >
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link to="/leads">
            <a>Leads</a>
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <a>Import</a>
        </li>
      </ol>
    </div>
  </div>

  <div class="row" id="lead-div">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Import Leads</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <a
                href="/templates/import_leads.xlsx"
                class="btn btn-primary btn-sm"
              >
                Download Template
              </a>
              <div class="row mt-5">
                <div class="col-10">
                  <div class="custom-file">
                    <input
                      v-on:change="onChange"
                      type="file"
                      class="custom-file-input"
                      name="example-file-input-custom"
                      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    />
                    <label class="custom-file-label">Choose file</label>
                  </div>
                </div>
                <div class="col-2">
                  <button
                    class="btn btn-primary btn-sm mt-1"
                    :class="{
                      'btn-loading': is_sending,
                    }"
                    :disabled="is_sending"
                    @click="submit"
                  >
                    <i
                      class="fa fa-cloud-upload mr-2"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="fa fa-cloud-upload"
                    ></i>

                    Upload
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import notifyMixin from "../../mixins/notify";
import showErrorMixin from "../../mixins/showError";
import checkToken from "../../mixins/checkToken";

export default {
  mixins: [notifyMixin, showErrorMixin, checkToken],
  data() {
    return {
      file: null,
      is_sending: null,
    };
  },
  computed: {
    token() {
      return this.$store.getters.token;
    },
  },
  methods: {
    onChange(event) {
      this.file = event.target.files[0];
    },
    submit() {
      this.is_sending = true;

      axios.defaults.headers.common["Authorization"] = "Bearer " + this.token;
      let submit_method = "POST";
      let url = "/api/v1/leads/import";

      if (!this.file || !this.file instanceof File) {
        this.showError("No File Uploaded");
        this.is_sending = false;
        return;
      }

      const data = new FormData();
      data.append("import", this.file);

      axios({ method: submit_method, url: url, data: data })
        .then((response) => {
          if (response.status === 201) {
            this.is_sending = false;
            this.notify("Leads Uploaded");
          }
        })
        .catch((error) => {
          this.is_sending = false;
          if (!!error.response && error.response.status === 422) {
            const first_error = error.response.data.failures[0].errors[0];
            this.showError(first_error);
          } else {
            this.showError(
              "something went wrong while importing leads, try again"
            );
            console.log(error);
          }
        });
    },
  },
};
</script>