<template>
  <div class="page-header">
    <div class="page-leftheader">
      <h4 class="page-title">Leads</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon"> Dashboard</span></a
            >
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <a>Leads</a>
        </li>
      </ol>
      <div class="ml-5 mb-0">
        <router-link to="/leads/create">
          <a class="btn btn-sm btn-primary">Add New</a>
        </router-link>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">
                <div
                  id="example1_wrapper"
                  class="dataTables_wrapper dt-bootstrap4 no-footer"
                >
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="example1_length">
                        <label>
                          <select
                            v-model="tableData.length"
                            @change="getLeads()"
                            name="example1_length"
                            aria-controls="example1"
                            class="
                              custom-select custom-select-sm
                              form-control form-control-sm
                            "
                          >
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                        </label>
                        <button
                          class="btn btn-primary btn-sm ml-2"
                          :disabled="checkedLeads.length === 0"
                          @click="deleteLeads"
                        >
                          <i class="fa fa-trash"></i>
                        </button>
                        <button
                          class="btn btn-primary btn-sm ml-2"
                          @click="exportLeads"
                        >
                          Export
                        </button>

                        <router-link to="/leads/import">
                          <a class="btn btn-primary btn-sm ml-2">
                            Import Leads
                          </a>
                        </router-link>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div id="example1_filter" class="dataTables_filter">
                        <label
                          ><input
                            type="search"
                            v-model="tableData.search"
                            @input="search()"
                            class="form-control form-control-sm"
                            placeholder="Search..."
                            aria-controls="example1"
                        /></label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <datatable
                        :columns="columns"
                        :sortKey="sortKey"
                        :sortOrders="sortOrders"
                        @sort="sortBy"
                      >
                        <tbody>
                          <tr
                            role="row"
                            class="odd"
                            v-for="lead in leads"
                            :key="lead.id"
                          >
                            <td>
                              <span style="position: relative" class="pl-4">
                                <input
                                  style="
                                    position: absolute;
                                    bottom: 0px;
                                    right: 5px;
                                  "
                                  type="checkbox"
                                  :value="lead.id"
                                  v-model="checkedLeads"
                                />
                              </span>
                              <span class="pl-2">
                                <router-link :to="`/leads/${lead.id}/edit`">
                                  <a
                                    ><i
                                      class="fa fa-pencil"
                                      data-toggle="tooltip"
                                      title="fa fa-pencil"
                                    ></i
                                  ></a>
                                </router-link>
                              </span>
                              <span class="pl-2">
                                <i
                                  @click="deleteLead(lead.id)"
                                  class="text-danger fa fa-trash pointer"
                                  data-toggle="tooltip"
                                  title="fa fa-trash"
                                ></i>
                              </span>
                            </td>
                            <td>
                              <router-link :to="`/leads/${lead.id}`">
                                <a
                                  class="text-primary font-weight-bold fs-12"
                                  >{{ lead.last_name }}</a
                                >
                              </router-link>
                            </td>
                            <td>
                              {{ lead.phone }}
                            </td>
                            <td>
                              {{ lead.mobile }}
                            </td>
                            <td>
                              {{ lead.company }}
                            </td>
                            <td>
                              {{ lead.source }}
                            </td>
                            <td>
                              {{ lead.email }}
                            </td>
                            <td>
                              {{ lead.website }}
                            </td>
                            <td>
                              {{
                                lead.assignee ? lead.assignee.first_name : ""
                              }}
                            </td>
                            <td>
                              {{ lead.city }}
                            </td>
                          </tr>
                        </tbody>
                      </datatable>
                    </div>
                  </div>
                  <div class="row">
                    <pagination
                      :pagination="pagination"
                      @prev="getLeads(pagination.prevPageUrl)"
                      @next="getLeads(pagination.nextPageUrl)"
                    >
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import showErrorMixin from "../../mixins/showError";
import notifyMixin from "../../mixins/notify";
import checkToken from "../../mixins/checkToken";
import _ from "lodash";

export default {
  mixins: [showErrorMixin, notifyMixin, checkToken],
  data() {
    let sortOrders = {};
    let columns = [
      {
        label: "",
        name: "actions",
        sortable: false,
      },
      {
        label: "Last Name",
        name: "last_name",
        sortable: true,
      },
      {
        label: "Primary Phone",
        name: "phone",
        sortable: true,
      },
      {
        label: "Mobile Phone",
        name: "mobile",
        sortable: true,
      },
      {
        label: "Company",
        name: "company",
        sortable: true,
      },
      {
        label: "Lead Source",
        name: "source",
        sortable: true,
      },
      {
        label: "Primary Email",
        name: "email",
        sortable: true,
      },
      {
        label: "Website",
        name: "website",
        sortable: true,
      },
      {
        label: "Assigned To",
        name: "assigned_to",
        sortable: false,
      },
      {
        label: "City",
        name: "city",
        sortable: true,
      },
    ];

    columns.forEach((column) => {
      sortOrders[column.name] = -1; // Descending sort order for default
    });
    sortOrders.last_name = 1;

    return {
      sortOrders: sortOrders,
      columns: columns,
      sortKey: "last_name",
      tableData: {
        draw: 0,
        length: 5,
        search: "",
        column: 1,
        dir: "asc",
      },

      pagination: {
        lastPage: "",
        currentPage: "",
        total: "",
        lastPageUrl: "",
        nextPageUrl: "",
        prevPageUrl: "",
        from: "",
        to: "",
      },

      leads: [],
      checkedLeads: [],
    };
  },
  created() {
    this.getLeads();
  },
  computed: {
    token() {
      return this.$store.getters.token;
    },
  },
  methods: {
    search: _.debounce(function () {
      this.getLeads();
    }, 500),
    sortBy(key) {
      this.sortKey = key;
      this.sortOrders[key] = this.sortOrders[key] * -1; // For component to change class
      this.tableData.column = this.getIndex(this.columns, "name", key);
      this.tableData.dir = this.sortOrders[key] === 1 ? "asc" : "desc";
      this.getLeads();
    },
    getIndex(array, key, value) {
      return array.findIndex((i) => i[key] === value);
    },
    configPagination(data) {
      this.pagination.lastPage = data.last_page;
      this.pagination.currentPage = data.current_page;
      this.pagination.total = data.total;
      this.pagination.lastPageUrl = data.last_page_url;
      this.pagination.nextPageUrl = data.next_page_url;
      this.pagination.prevPageUrl = data.prev_page_url;
      this.pagination.from = data.from;
      this.pagination.to = data.to;
    },
    getLeads(url = "/api/v1/paginated-leads") {
      axios.defaults.headers.common["Authorization"] = "Bearer " + this.token;

      let submit_method = "POST";
      let submit_data = this.tableData;

      axios({ method: submit_method, url: url, data: submit_data }).then(
        (response) => {
          let data = response.data;
          if (this.tableData.draw === data.draw) {
            this.leads = data.leads.data;
            this.configPagination(data.leads);
          }
        }
      );
    },

    async deleteLead(id) {
      const swal_response = await this.$swal.fire({
        title: `Do you want to delete this lead?`,
        showCancelButton: true,
        confirmButtonText: `Delete`,
      });

      if (swal_response.isConfirmed) {
        try {
          const response = await this.$store.dispatch("leads/deleteLead", id);
          if (response.status === 204) {
            this.notify("Lead Deleted");
            this.getLeads();
          }
        } catch (err) {
          this.showError("Something went wrong while deleting lead, try again");
        }
      }
    },

    async deleteLeads() {
      const swal_response = await this.$swal.fire({
        title: `Do you want to delete these leads?`,
        showCancelButton: true,
        confirmButtonText: `Delete`,
      });

      if (swal_response.isConfirmed) {
        axios.defaults.headers.common["Authorization"] = "Bearer " + this.token;

        let submit_method = "POST";
        let submit_data = this.checkedLeads;
        let url = "/api/v1/leads/delete-checked";

        axios({ method: submit_method, url: url, data: submit_data })
          .then((response) => {
            if (response.status === 204) {
              this.notify("Leads Deleted");
              this.checkedLeads = [];
              this.getLeads();
            }
          })
          .catch((err) => {
            this.checkedLeads = [];
            this.showError(
              "Something went wrong while deleting leads, try again"
            );
          });
      }
    },

    exportLeads() {
      axios.defaults.headers.common["Authorization"] = "Bearer " + this.token;

      let submit_method = "GET";
      let url = "api/v1/leads/export";

      axios({ method: submit_method, url: url }).then((response) => {
        window.open(response.data.url);
      });
    },
  },
};
</script>

<style scoped>
table {
  font-size: 12px;
}
</style>