<template>
  <div class="page-header">
    <div class="page-leftheader">
      <h4 class="page-title">Lead Details</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon"> Dashboard</span></a
            >
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link to="/leads">
            <a>Leads</a>
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <a>Edit</a>
        </li>
      </ol>
      <div class="ml-5 mb-0">
        <router-link :to="`/leads/${lead.id}/edit`">
          <a class="btn btn-sm btn-primary">Edit</a>
        </router-link>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card" v-if="Object.keys(lead).length > 0">
        <div class="lead-header">
          <span class="d-block font-weight-bold">
            <i
              class="fa fa-user-o pr-3"
              data-toggle="tooltip"
              title=""
              data-original-title="fa fa-user-o"
            ></i
            >{{ lead.first_name }} {{ lead.last_name }}</span
          >
          <span class="d-block"
            ><i
              class="fa fa-phone pr-3"
              data-toggle="tooltip"
              title=""
              data-original-title="fa fa-phone"
            ></i
            >{{ lead.mobile }}</span
          >
          <span class="d-block"
            ><i
              class="fa fa-send-o pr-3"
              data-toggle="tooltip"
              title=""
              data-original-title="fa fa-send-o"
            ></i
            >{{ lead.email }}</span
          >
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-12">
              <ul class="demo-accordion accordionjs m-0">
                <li class="acc_section">
                  <div class="acc_head"><h3>Lead Details</h3></div>
                  <div class="acc_content p-5" style="">
                    <div class="row">
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">First Name</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.title }}. {{ lead.first_name }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Lead Number</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.id }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Last Name</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.last_name }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Primary Phone</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.phone }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Company</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.company }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Mobile Phone</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.mobile }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Designation</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.designation }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Fax</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.fax }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Lead Source</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.source }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Primary Email</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.email }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Industry</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.industry }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Website</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.website }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light"
                              >Annual Revenue</span
                            >
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.annual_revenue }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Lead Status</span>
                          </div>
                          <div class="col-6">
                            <span>{{ lead.status }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light"
                              >No of Employees</span
                            >
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.no_of_employees }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Rating</span>
                          </div>
                          <div class="col-6">
                            <span>{{ lead.rating }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light"
                              >Secondary Email</span
                            >
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.secondary_email }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Assigned To</span>
                          </div>
                          <div class="col-6">
                            <span>{{
                              lead.assignee ? lead.assignee.first_name : ""
                            }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Modified Time</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.updated_at }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Created Time</span>
                          </div>
                          <div class="col-6">
                            <span>{{ lead.created_at }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Email Opt Out</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.email_opt_out ? "Yes" : "No" }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Source</span>
                          </div>
                          <div class="col-6">
                            <span>CRM</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Created By</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{
                              lead.creator ? lead.creator.first_name : ""
                            }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="acc_section">
                  <div class="acc_head"><h3>Address Details</h3></div>
                  <div class="acc_content p-5">
                    <div class="row">
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Street</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.lane }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">PO Box</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.pobox }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Postal Code</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.code }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">City</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{ lead.city }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">Country</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{
                              lead.country ? lead.country.name : ""
                            }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 py-1">
                        <div class="row">
                          <div class="col-4">
                            <span class="font-weight-light">State</span>
                          </div>
                          <div class="col-6 py-1">
                            <span>{{
                              lead.state ? lead.state.name : "NA"
                            }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="acc_section">
                  <div class="acc_head"><h3>Description Details</h3></div>
                  <div class="acc_content p-5">
                    <div class="row">
                      <div class="col-12" v-html="lead.description"></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import checkToken from "../../mixins/checkToken";
export default {
  mixins: [checkToken],
  props: ["id"],
  data() {
    return {
      lead: {},
    };
  },
  created() {
    this.getLead();
  },
  methods: {
    async getLead() {
      try {
        const response = await this.$store.dispatch("leads/getLead", {
          id: this.id,
        });
        if (response.status === 200) {
          this.lead = response.data;
        }
      } catch (err) {
        console.log("error");
      }
    },
  },
};
</script>

<style scoped>
i {
  width: 26px;
}
</style>