<template>
  <div class="page-header">
    <div class="page-leftheader">
      <h4 class="page-title">Charts</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon">Dashboard</span></a
            >
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <a>Customers By Debts</a>
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Daily Debt Collection</h3>
          <div class="ml-auto">
            <label
              ><input
                type="date"
                v-model="tableData.from"
                class="form-control form-control-sm"
                placeholder="Search..."
                aria-controls="example1"
            /></label>
            To
            <label
              ><input
                type="date"
                v-model="tableData.to"
                class="form-control form-control-sm"
                placeholder="Search..."
                aria-controls="example1"
            /></label>
            <button
              class="btn btn-primary btn-sm ml-1"
              href="#"
              @click="getDailyCollections"
            >
              Go
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <line-chart
                :chartData="dailyCollections"
                :options="chartOptions"
                :chartColors="dailyChartColors"
                label="Total Collections"
                v-if="dailyCollections.length > 0 && drawDaily"
              ></line-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Monthly Debt Collection</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <line-chart
                :chartData="monthlyCollections"
                :options="chartOptions"
                :chartColors="monthlyChartColors"
                label="Monthly Collections"
                v-if="monthlyCollections.length > 0 && drawMonthly"
              ></line-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import LineChart from "./charts/LineChart.vue";

export default {
  components: {
    LineChart,
  },
  data() {
    return {
      dailyCollections: [],
      monthlyCollections: [],
      dailyChartColors: {
        borderColor: "#251F47",
        pointBorderColor: "#260F26",
        pointBackgroundColor: "#858EAB",
        backgroundColor: "#858EAB",
      },
      monthlyChartColors: {
        borderColor: "#251F47",
        pointBorderColor: "#260F26",
        pointBackgroundColor: "#858EAB",
        backgroundColor: "#858EAB",
      },

      chartOptions: {
        responsive: true,
        maintainAspectRatio: false,
      },
      tableData: {
        from: "",
        to: "",
      },
      drawDaily: false,
      drawMonthly: false,
    };
  },
  created() {
    this.tableData.from = moment().subtract(1, "months").format("YYYY-MM-DD");
    this.tableData.to = moment().format("YYYY-MM-DD");
    this.getDailyCollections();
    this.getMonthlyCollections();
  },
  computed: {
    token() {
      return this.$store.getters.token;
    },
  },
  methods: {
    getDailyCollections() {
      this.drawDaily = false;
      this.dailyCollections = [];
      axios.defaults.headers.common["Authorization"] = "Bearer " + this.token;

      let submit_method = "POST";
      let submit_data = this.tableData;
      let url = "/api/v1/charts/collections/daily";

      axios({ method: submit_method, url: url, data: submit_data })
        .then((response) => {
          let data = response.data.dailyCollections;
          data.forEach((d) => {
            const date = moment(d.date, "YYYY-MM-DD").format("MM/DD");
            const { total } = d;
            this.dailyCollections.push({ date, total: total });
            this.drawDaily = true;
          });
        })
        .catch((error) => {
          console.log("Error");
        });
    },
    getMonthlyCollections() {
      this.drawMonthly = false;
      this.monthlyCollections = [];
      axios.defaults.headers.common["Authorization"] = "Bearer " + this.token;

      let submit_method = "POST";
      let submit_data = this.tableData;
      let url = "/api/v1/charts/collections/monthly";

      axios({ method: submit_method, url: url, data: submit_data })
        .then((response) => {
          let data = response.data.monthlyCollections;
          data.forEach((d) => {
            const date = moment(d.months, "MMMM-YYYY").format("MM/YY");
            const { total } = d;
            this.monthlyCollections.push({ date, total: total });
            this.drawMonthly = true;
          });
        })
        .catch((error) => {
          console.log("Error");
        });
    },
  },
};
</script>