<template>
  <div class="page-header" v-if="editFormIsSetUp">
    <div class="page-leftheader">
      <h4 class="page-title">{{ $t("users") }}</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon"> {{ $t("dashboard") }}</span></a
            >
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link to="/users">
            <a>{{ $t("users") }}</a>
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <a>{{ submitBtnText }}</a>
        </li>
      </ol>
    </div>
  </div>

  <loader v-if="loading"></loader>

  <div class="row" id="lead-div" v-if="editFormIsSetUp && !loading">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{ typeOfUser }} {{ $t("user") }}</h4>
        </div>
        <div class="card-body">
          <form @submit.prevent="submitUserHandler">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("title") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <prime-dropdown
                      :class="{
                        'border-red':
                          findFieldinFeedback('title') && form.title === '',
                      }"
                      v-model="form.title"
                      :options="titles"
                      optionLabel="name"
                      optionValue="name"
                      :filter="true"
                      :placeholder="$t('selectATitle')"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                  </div>
                  <p
                    v-if="findFieldinFeedback('title') && form.title === ''"
                    class="text-danger"
                  >
                    {{ $t("thisFieldIsRequired") }}
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("firstName") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('first_name') &&
                          form.first_name === '',
                      }"
                      v-model="form.first_name"
                      type="text"
                      class="form-control"
                      :placeholder="$t('firstName')"
                    />
                  </div>
                  <p
                    v-if="
                      findFieldinFeedback('first_name') &&
                      form.first_name.trim() === ''
                    "
                    class="text-danger"
                  >
                    {{ $t("thisFieldIsRequired") }}
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("lastName") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('last_name') &&
                          form.last_name === '',
                      }"
                      v-model="form.last_name"
                      type="text"
                      class="form-control"
                      :placeholder="$t('lastName')"
                    />
                  </div>
                  <p
                    v-if="
                      findFieldinFeedback('last_name') &&
                      form.last_name.trim() === ''
                    "
                    class="text-danger"
                  >
                    {{ $t("thisFieldIsRequired") }}
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("userName") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('username') &&
                          form.username === '',
                      }"
                      v-model="form.username"
                      type="text"
                      class="form-control"
                      :placeholder="$t('userName')"
                    />
                  </div>
                  <p
                    v-if="
                      findFieldinFeedback('username') &&
                      form.username.trim() === ''
                    "
                    class="text-danger"
                  >
                    {{ $t("thisFieldIsRequired") }}
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("phone") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <!-- :class="{
                        'border-red':
                          findFieldinFeedback('phone') &&
                          (form.phone === '' ||
                            form.phone.trim().length !== 12),
                      }" -->
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('countryCode') &&
                          form.countryCode === '',
                      }"
                      v-model="form.countryCode"
                      type="text"
                      class="form-control"
                      :placeholder="$t('countryCode')"
                    />
                    <input
                      style="width: 75%"
                      :class="{
                        'border-red':
                          findFieldinFeedback('phone') &&
                          (form.phone === '' ||
                            (form.phone.length !== 9 &&
                              form.phone.length !== 10)),
                      }"
                      v-model="form.phone"
                      type="text"
                      class="form-control"
                      :placeholder="$t('phone')"
                    />
                    <!-- v-maska="'###-###-####'" -->
                  </div>
                  <!-- <p
                    v-if="
                      findFieldinFeedback('phone') && form.phone.trim() === ''
                    "
                    class="text-danger"
                  >
                    {{ $t("thisFieldIsRequired") }}
                  </p> -->
                  <p
                    v-if="
                      findFieldinFeedback('phone') &&
                      (form.phone === '' ||
                        (form.phone.length !== 9 && form.phone.length !== 10))
                    "
                    class="text-danger"
                  >
                    {{ $t("pleaseEnterAMobileNumberWith9or10Characters") }}
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("email") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('email') &&
                          (form.email === '' ||
                            !form.email.includes('@') ||
                            !form.email.includes('.')),
                      }"
                      v-model="form.email"
                      type="text"
                      class="form-control"
                      :placeholder="$t('email')"
                    />
                  </div>
                  <p
                    v-if="
                      findFieldinFeedback('email') &&
                      (!form.email.includes('@') || !form.email.includes('.'))
                    "
                    class="text-danger"
                  >
                    {{ $t("emailMustContainAnAndAtLeastOneDot") }}
                    <span v-if="form.email.trim() === ''">
                      {{ $t("andMustNotBeBlank") }}</span
                    >
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("role") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <prime-dropdown
                      :class="{
                        'border-red':
                          findFieldinFeedback('user_role') &&
                          form.user_role === '',
                      }"
                      v-model="form.user_role"
                      :options="roles"
                      optionLabel="name"
                      optionValue="id"
                      :filter="true"
                      :placeholder="$t('selectARole')"
                    >
                      <template #label="slotProps">
                        <div
                          class="country-item country-item-value"
                          v-if="slotProps.label"
                        >
                          <div>{{ slotProps }}</div>
                        </div>
                        <span v-else>
                          {{ slotProps.placeholder }}
                        </span>
                      </template>
                      <template #option="slotProps">
                        <div class="country-item">
                          <div>{{ slotProps.option.name }}</div>
                        </div>
                      </template>
                    </prime-dropdown>
                    <p
                      v-if="
                        findFieldinFeedback('user_role') &&
                        form.user_role === ''
                      "
                      class="text-danger"
                    >
                      {{ $t("thisFieldIsRequired") }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-label">
                    {{ $t("photo") }}
                    <span
                      ><a v-if="isPhotoLink" :href="photoLink" target="_blank"
                        ><small> ({{ $t("viewCurrent") }}) </small></a
                      ></span
                    >
                  </label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input
                        :class="{
                          'border-red':
                            findFieldinFeedback('photo') && form.photo === '',
                        }"
                        v-on:change="onChange"
                        type="file"
                        class="custom-file-input"
                        name="example-file-input-custom"
                      />
                      <label class="custom-file-label">{{
                        $t("choosePhoto")
                      }}</label>
                    </div>
                    <p
                      v-if="findFieldinFeedback('photo') && form.photo === null"
                      class="text-danger"
                    >
                      {{ $t("chechPhoto") }}
                    </p>
                  </div>
                </div>
              </div>
              <!-- <div class="col-6" v-if="selectedRole === 'Commercial'">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("creditLimitStartDate") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('creditLimitStartDate') &&
                          form.creditLimitStartDate === '',
                      }"
                      v-model="form.creditLimitStartDate"
                      type="date"
                      class="form-control"
                      :placeholder="$t('creditLimitStartDate')"
                    />
                  </div>
                  <p
                    v-if="
                      findFieldinFeedback('creditLimitStartDate') &&
                      form.creditLimitStartDate === ''
                    "
                    class="text-danger"
                  >
                    {{ $t("thisFieldIsRequired") }}
                  </p>
                </div>
              </div>
              <div class="col-6" v-if="selectedRole === 'Commercial'">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("creditLimitEndDate") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('creditLimitEndDate') &&
                          form.creditLimitEndDate === '',
                      }"
                      v-model="form.creditLimitEndDate"
                      type="date"
                      class="form-control"
                      :placeholder="$t('creditLimitEndDate')"
                    />
                  </div>
                  <p
                    v-if="
                      findFieldinFeedback('creditLimitEndDate') &&
                      form.creditLimitEndDate === ''
                    "
                    class="text-danger"
                  >
                    {{ $t("thisFieldIsRequired") }}
                  </p>
                </div>
              </div> -->
              <div class="col-6" v-if="selectedRole === 'Commercial'">
                <div class="form-group">
                  <label class="form-label"
                    >{{ $t("credit") }} <span>*</span></label
                  >
                  <div class="input-group">
                    <input
                      :class="{
                        'border-red':
                          findFieldinFeedback('credit') && form.credit === '',
                      }"
                      v-model="form.credit"
                      type="number"
                      min="0"
                      step="any"
                      class="form-control"
                      :placeholder="$t('credit')"
                    />
                  </div>
                  <p
                    v-if="findFieldinFeedback('credit') && form.credit === ''"
                    class="text-danger"
                  >
                    {{ $t("thisFieldIsRequired") }}
                  </p>
                </div>
              </div>
              <div class="col-6" v-if="mode === 'edit'">
                <div class="form-group">
                  <label class="form-label"> </label>
                  <div class="input-group">
                    <label class="custom-switch">
                      <input
                        v-model="form.force_pw_change"
                        type="checkbox"
                        name="custom-switch-checkbox"
                        class="custom-switch-input"
                      />
                      <span class="custom-switch-indicator"></span>
                      <span class="custom-switch-description">{{
                        $t("forceChangePassword")
                      }}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <button
                  type="submit"
                  class="btn btn-sm btn-primary"
                  :class="{
                    'btn-loading': is_sending,
                  }"
                  :disabled="is_sending"
                >
                  {{ submitBtnText }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import clearFormMixin from "../../mixins/clearForm";
import showErrorMixin from "../../mixins/showError";
import setFeedbackMixin from "../../mixins/setFeedback";
import notifyMixin from "../../mixins/notify";
import catchForbiddenError from "../../mixins/catchForbiddenError";
export default {
  mixins: [
    clearFormMixin,
    showErrorMixin,
    setFeedbackMixin,
    notifyMixin,
    catchForbiddenError,
  ],
  props: {
    id: {
      type: Number,
      required: false,
    },
  },
  data() {
    return {
      is_sending: false,
      validation_errors: {},
      feedback: [],
      form: {
        title: "",
        first_name: "",
        last_name: "",
        email: "",
        username: "",
        countryCode: "",
        phone: "",
        user_role: "",
        photo: null,
        force_pw_change: false,
        credit: "",
        // creditLimitStartDate: "",
        // creditLimitEndDate: "",
      },
      mode: "",
      loading: true,
    };
  },
  created() {
    if (typeof this.id !== "undefined") {
      this.getUser();
    }
    this.loadMasters();
    this.loadRoles();
  },
  computed: {
    editFormIsSetUp() {
      if (typeof this.id !== "undefined" && this.form.first_name === "") {
        return false;
      }
      return true;
    },
    isPhotoLink() {
      return (
        this.form.photo &&
        this.mode === "edit" &&
        this.id &&
        !(this.form.photo instanceof File)
      );
    },
    photoLink() {
      if (this.form.photo) {
        return `/storage/${this.form.photo.file_path}`;
      }
      return "/assets/images/users/16.jpg";
    },
    titles() {
      return this.$store.getters["masters/titles"];
    },
    token() {
      return this.$store.getters.token;
    },
    roles() {
      return this.$store.getters["roles/roles"];
    },
    submitBtnText() {
      if (this.mode === "edit") {
        return this.$t("update");
      }
      return this.$t("submit");
    },
    typeOfUser() {
      if (this.mode === "edit") {
        return this.$t("update");
      }
      return this.$t("new");
    },
    loggedUser() {
      return this.$store.getters.user;
    },
    selectedRole() {
      const role = this.roles.find((single) => {
        return single.id === this.form.user_role;
      });
      if (role) {
        return role.name;
      }
      return "";
    },
  },
  methods: {
    async getUser() {
      try {
        const response = await this.$store.dispatch("users/getUser", {
          id: this.id,
        });
        this.loading = false;
        if (response.status === 200) {
          this.setUpForm(response.data);
        }
      } catch (err) {
        console.log("error");
        this.catchForbiddenError(err);
        this.loading = false;
      }
    },
    async loadRoles() {
      try {
        const response = await this.$store.dispatch("roles/getRoles");
        this.loading = false;
        if (response.status === 200) {
          this.$store.dispatch("roles/setRoles", response.data.roles);
          this.form.name = null;
        }
      } catch (err) {
        console.log("Error");
        this.loading = false;
      }
    },
    async loadMasters() {
      this.setFeedback(null, null, null);

      try {
        const response = await this.$store.dispatch("masters/getMasters", {
          type: "all",
        });
        this.loading = false;
        if (response.status === 200) {
          this.$store.dispatch("masters/setMasters", response.data.masters);
        }
      } catch (err) {
        console.log("Error");
        this.loading = false;
      }
    },
    onChange(event) {
      this.form.photo = event.target.files[0];
      event.target.value = null;
    },
    async submitUserHandler() {
      this.feedback = [];

      if (!this.validate()) {
        return;
      }

      // console.log(this.form);
      // return;

      this.is_sending = true;

      let password_change = this.form.force_pw_change ? 1 : 0;

      const data = new FormData();

      data.append("title", this.form.title);
      data.append("first_name", this.form.first_name);
      data.append("last_name", this.form.last_name);
      data.append("email", this.form.email);
      data.append("username", this.form.username);
      data.append("country_code", this.form.countryCode);
      data.append("phone", this.form.phone);
      data.append("user_role", this.form.user_role);

      if (this.form.photo && this.form.photo instanceof File) {
        data.append("uploaded_photo", this.form.photo);
      }

      if (this.selectedRole === "Commercial") {
        data.append("credit", this.form.credit);
        // data.append("credit_limit_start_date", this.form.creditLimitStartDate);
        // data.append("credit_limit_end_date", this.form.creditLimitEndDate);
      }

      if (this.mode === "edit") {
        data.append("id", this.id);
        data.append("force_pw_change", password_change);
        data.append("_method", "PUT");
      }

      try {
        if (this.mode === "edit") {
          const response = await this.$store.dispatch("users/updateUser", data);
          this.is_sending = false;
          if (response.status === 200) {
            this.notify(this.$t("updated"));
            if (response.data.id === this.loggedUser.id) {
              this.$store.dispatch("setUser", {
                user: response.data,
              });
            }
            this.$router.replace(`/users/${response.data.id}`);
          }
        } else {
          const response = await this.$store.dispatch("users/submitUser", data);
          this.is_sending = false;
          if (response.status === 201) {
            this.notify(this.$t("saved"));
            this.$router.replace(`/users/${response.data.id}`);
          }
        }
      } catch (err) {
        this.is_sending = false;
        if (!!err.response && err.response.status === 422) {
          const errors = err.response.data.errors;
          const first_error = errors[Object.keys(errors)[0]][0];
          this.showError(first_error);
        } else {
          this.showError(this.$t("somethingWentWrong"));
        }
      }
    },

    validate() {
      if (this.form.title === "") {
        this.setFeedback("error", "title");
      }
      if (this.form.first_name.trim() === "") {
        this.setFeedback("error", "first_name");
      }
      if (this.form.last_name.trim() === "") {
        this.setFeedback("error", "last_name");
      }
      if (this.form.username.trim() === "") {
        this.setFeedback("error", "username");
      }
      if (this.form.countryCode.trim() === "") {
        this.setFeedback("error", "countryCode");
      }
      // if (this.form.phone.trim() === "") {
      //   this.setFeedback("error", "phone");
      // }
      if (
        this.form.phone === "" ||
        (this.form.phone.length !== 9 && this.form.phone.length !== 10)
      ) {
        this.setFeedback("error", "phone");
      }
      if (
        this.form.email.trim() === "" ||
        !this.form.email.includes("@") ||
        !this.form.email.includes(".")
      ) {
        this.setFeedback("error", "email");
      }
      if (this.form.user_role === "") {
        this.setFeedback("error", "user_role");
      }

      if (this.selectedRole === "Commercial" && this.form.credit === "") {
        this.setFeedback("error", "credit");
      }
      // if (
      //   this.selectedRole === "Commercial" &&
      //   this.form.creditLimitStartDate === ""
      // ) {
      //   this.setFeedback("error", "creditLimitStartDate");
      // }
      // if (
      //   this.selectedRole === "Commercial" &&
      //   this.form.creditLimitEndDate === ""
      // ) {
      //   this.setFeedback("error", "creditLimitEndDate");
      // }

      if (this.feedback.length !== 0) {
        return false;
      }
      return true;
    },

    setUpForm(user) {
      this.clearForm();
      this.form.title = user.title;
      this.form.first_name = user.first_name;
      this.form.last_name = user.last_name;
      this.form.email = user.email;
      this.form.username = user.username;
      this.form.countryCode = user.country_code_only;
      this.form.phone = user.phone_only;
      this.form.user_role = user.role ? user.role.id : "";
      if (this.selectedRole === "Commercial") {
        this.form.credit = user.credit;
        // this.form.creditLimitStartDate = user.credit_limit_start_date;
        // this.form.creditLimitEndDate = user.credit_limit_end_date;
      }
      this.form.force_pw_change = !!user.force_pw_change;
      this.form.photo = user.photo;
      this.mode = "edit";
    },

    clearForm() {
      this.form.title = "";
      this.form.first_name = null;
      this.form.last_name = null;
      this.form.email = null;
      this.form.username = null;
      this.form.countryCode = null;
      this.form.phone = null;
      this.form.user_role = "";
      this.form.credit = "";
      // this.form.creditLimitStartDate = "";
      // this.form.creditLimitEndDate = "";
      this.form.photo = null;
      this.form.force_pw_change = false;
    },
  },
};
</script>

<style scoped>
.border-red {
  border: 1px solid red;
}
</style>