<template>
  <div class="page-header" v-if="Object.keys(order).length > 0">
    <div class="page-leftheader">
      <h4 class="page-title">Update Order Status</h4>
    </div>
    <div class="page-rightheader ml-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a class="d-flex">
              <span class="breadcrumb-icon">Dashboard</span></a
            >
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link to="/products-catalog">
            <a class="d-flex">Catalog</a>
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <a>Order Payment</a>
        </li>
      </ol>
    </div>
  </div>

  <div class="row" v-if="Object.keys(order).length > 0">
    <div class="col-6">
      <div class="card overflow-hidden">
        <div class="card-header bg-primary">
          <h3 class="card-title text-white">Client Details</h3>
        </div>
        <div class="card-body">
          <div class="dropdown user-pro-body text-center" data-v-62b8754f="">
            <div class="user-pic" data-v-62b8754f="">
              <img
                :src="imgLink"
                alt="user-img"
                class="avatar-xl rounded-circle mb-1"
                data-v-62b8754f=""
              />
            </div>
          </div>
          <h4 class="card-title mb-1">Personal Details</h4>
          <div class="table-responsive">
            <table class="table mb-0">
              <tbody>
                <tr>
                  <td class="py-2 px-0">
                    <span class="font-weight-semibold w-50">Name </span>
                  </td>
                  <td class="py-2 px-0">
                    {{ order.client.first_name }}
                    {{ order.client.last_name }}
                  </td>
                </tr>
                <tr>
                  <td class="py-2 px-0">
                    <span class="font-weight-semibold w-50">Email </span>
                  </td>
                  <td class="py-2 px-0">
                    <a
                      :href="getMailLink(order.client.email)"
                      target="_blank"
                      >{{ order.client.email }}</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="py-2 px-0">
                    <span class="font-weight-semibold w-50">Phone </span>
                  </td>
                  <td class="py-2 px-0">
                    <a
                      :href="getPhoneLink(order.client.mobile)"
                      target="_blank"
                      >{{ order.client.mobile }}</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div
        class="card overflow-hidden card-collapsed"
        v-if="
          Object.keys(order).length > 0 && Object.keys(order.address).length > 0
        "
      >
        <div class="card-header bg-primary">
          <h3 class="card-title text-white">Delivery Adress</h3>
          <div class="card-options">
            <a
              href="#"
              class="card-options-collapse mr-2"
              data-toggle="card-collapse"
              ><i class="fe fe-chevron-up text-white"></i
            ></a>
          </div>
        </div>
        <div class="card-body">
          <div
            class="
              d-sm-flex
              mt-0
              p-3
              sub-review-section
              border border-bottom-0
              br-bl-0 br-br-0
            "
          >
            <div class="media-body">
              <h5 class="mt-0 mb-1 font-weight-semibold">
                {{ order.client.first_name }}
                {{ order.client.last_name }}
              </h5>
              <p class="font-13 mb-2 mt-2">
                <span v-if="order.address.zip_code"
                  >{{ order.address.zip_code }},
                </span>
                <span v-if="order.address.street_address"
                  >{{ order.address.street_address }},
                </span>
                <span v-if="order.address.locality"
                  >{{ order.address.locality }},
                </span>
                <span v-if="order.address.city"
                  >{{ order.address.city }},
                </span>
                <span v-if="order.address.country">{{
                  order.address.country
                }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card" v-if="Object.keys(order).length > 0">
        <div class="card-header">
          <h3 class="card-title">Payment Details</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <strong>Invoice Total</strong>
            </div>
            <div class="col-sm-6 text-right">
              <span>
                {{ loggedUser.company.currency.symbol }}
                {{ parseFloat(order.total).toFixed(2) }}</span
              ><br />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <strong>Amount Paid</strong>
            </div>
            <div class="col-sm-6 text-right">
              <span>
                {{ loggedUser.company.currency.symbol }}
                {{ parseFloat(order.amount_paid).toFixed(2) }}</span
              ><br />
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-6">
              <strong>Amount Remaining</strong>
            </div>
            <div class="col-sm-6 text-right">
              <span>
                {{ loggedUser.company.currency.symbol }}
                {{ parseFloat(order.amount_remaining).toFixed(2) }}</span
              ><br />
            </div>
          </div>
        </div>
      </div>
      <div class="card overflow-hidden">
        <div class="card-header bg-primary">
          <h3 class="card-title text-white">Update Status</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Order Status<span>*</span></label>
                  <div class="input-group">
                    <select
                      v-model="status"
                      class="form-control"
                      :class="{
                        'border-red':
                          findFieldinFeedback('status') &&
                          payment.status === '',
                      }"
                    >
                      <option value="processing">Processing</option>
                      <option value="dispatched">Dispatched</option>
                      <option value="in transit">In transit</option>
                      <option value="delivered">Delivered</option>
                    </select>
                  </div>
                  <p
                    v-if="
                      findFieldinFeedback('status') && payment.status === ''
                    "
                    class="text-danger"
                  >
                    Status cannot be blank
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-12">
              <div class="card-options pull-right">
                <button
                  @click="updateStatus"
                  class="d-block btn btn-success btn-sm"
                >
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import showErrorMixin from "../../mixins/showError";
import notifyMixin from "../../mixins/notify";
import fixStatus from "../../mixins/fixStatus";
import checkToken from "../../mixins/checkToken";
import setFeedbackMixin from "../../mixins/setFeedback";
import contact from "../../mixins/contact";
import _ from "lodash";
import catchForbiddenError from "../../mixins/catchForbiddenError";
export default {
  props: {
    id: {
      type: Number,
      required: true,
    },
  },
  mixins: [
    showErrorMixin,
    notifyMixin,
    checkToken,
    fixStatus,
    setFeedbackMixin,
    contact,
    catchForbiddenError,
  ],
  data() {
    return {
      feedback: [],
      order: {},
      status: "",
    };
  },
  created() {
    this.getOrder();
  },
  computed: {
    loggedUser() {
      return this.$store.getters.user;
    },

    token() {
      return this.$store.getters.token;
    },
    imgLink() {
      if (this.order.photo) {
        return `/storage/${this.order.photo.file_path}`;
      }
      return "/assets/images/users/16.jpg";
    },
  },
  methods: {
    async getOrder() {
      try {
        const response = await this.$store.dispatch("catalog/getOrder", {
          id: this.id,
        });
        if (response.status === 200) {
          this.order = response.data;
          this.status = this.order.status;
        }
      } catch (err) {
        console.log("error");
        this.catchForbiddenError(err);
      }
    },
    async updateStatus() {
      this.feedback = [];
      if (this.status === "") {
        this.setFeedback("error", "status");
      }
      if (this.feedback.length !== 0) {
        return;
      }

      const data = {
        id: this.id,
        status: this.status,
      };

      try {
        const response = await this.$store.dispatch(
          "catalog/updateOrderStatus",
          data
        );
        if (response.status === 200) {
          this.order = response.data;
          this.status = this.order.status;
          this.$router.replace(`/clients/${this.order.client.id}`);
        }
      } catch (err) {
        if (!!err.response && err.response.status === 422) {
          const errors = err.response.data.errors;
          const first_error = errors[Object.keys(errors)[0]][0];
          this.showError(first_error);
        } else {
          this.showError(
            "Something went wrong while saving the order, try again"
          );
        }
      }
    },
  },
};
</script>

<style scoped>
.border-red {
  border: 1px solid red;
}
</style>